<div id="about">
  <div class="about--content">
    <button type="button" class="close-button">Close</button>
    
    <div class="about--text">
      <p>Surpassing existing Bayesian phylogenetic inference tools in speed and accessibility, Delphy allows researchers to immediately begin running and viewing their data with a simple FASTA file upload. Once sufficient samples have been generated, users can investigate their data by navigating the phylogeny of a summary tree, exploring and comparing mutations, and layering in their own metadata — all within Delphy. Data uploaded into Delphy is not sent to a remote server and information viewed within the tool will always remain secure, local, and fully within your control.</p>
      <p class="closing">The Delphy tool has been developed by Fathom Information Design in close collaboration with Patrick Varilly, Ph.D., of the Sabeti Lab at the Broad Institute of Harvard and MIT.</p>
    </div>
  
    <div class="about--info">
      <p><a href="https://github.com/fathominfo/delphy-web">GitHub repository</a>. Preprint coming soon.</p>
      <p><a href="/privacy/" target="_">Privacy.</a> <a href="/terms/" target="_">Terms of Service.</a></p>
      <div class="version-info">
        <p class="ui-version-info hidden">UI version <span class="ui-version"></span> (commit <span class="ui-commit"></span>)</p>
        <p>Delphy core version <span class="core-version"></span>, build <span class="core-build"></span> (commit <span class="core-commit"></span>)</p>
        <p class="save-file-version hidden">Uploaded .dphy file created with version <span class="save-version"></span>, build <span class="save-build"></span> (commit <span class="save-commit"></span>)</p>
      </div>
    </div>
  </div>
</div>
