  <div id="analysis" class="view">
    <header>
      <div class="header--basic">
        {{> header_common }}
      </div>
    </header>
    <div class="main-content visualizations--container">

      <section id="analysis--left" class="charts--container">
        <div id="analysis--node-layout"  class="block left" data-duo="left" >

          <div class="header">
            <div class="title">
              <h3>Selected nodes</h3>
              <span id="analysis--schematic-count"></span>
            </div>
          </div>

          <div class="subway"></div>
        </div>
      </section>

      <section id="analysis-center">

        <div id="analysis--prevalence" class="block right">

          <div class="header">
            <div class="title" data-tooltip="outside">
              <h4>Lineage prevalence over time</h4>
              <button class="info">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                  <path d="m4.63,2.13c0,.34-.28.62-.62.62s-.62-.28-.62-.62.28-.62.62-.62.62.28.62.62Zm-1,1.45v2.55c0,.21.17.38.38.38s.38-.17.38-.38v-2.55c-.12.03-.24.05-.38.05s-.25-.02-.38-.05Z" stroke-width="0"></path>
                </svg>
              </button>
            </div>
            <form id="prevalence-display-opt" class="mode toggles">
              <label data-destination-mode="mean" class="toggle off">
                <h4>Mean</h4>
                <input type="radio" name="prevalence-display" value="mean" checked />
              </label>
              <label data-destination-mode="mcc" class="toggle">
                <h4>Median and 95% HPD</h4>
                <input type="radio" name="prevalence-display" value="distribution" />
              </label>
            </form>
          </div>
          <div class="chart">
            <div class="feature">
              <div class="y axis">
                <div class="values">
                  <span class="value p0" ><span class="text"><span class="val">0%</span></span><span class="tick"></span></span>
                  <span class="value p025" ><span class="text"><span class="val">25%</span></span><span class="tick"></span></span>
                  <span class="value p05" ><span class="text"><span class="val">50%</span></span><span class="tick"></span></span>
                  <span class="value p075" ><span class="text"><span class="val">75%</span></span><span class="tick"></span></span>
                  <span class="value p1" ><span class="text"><span class="val">100%</span></span><span class="tick"></span></span>
                </div>
              </div>
              <div id="analysis--prevalence--chart-container">
                <svg id="analysis--prevalence--chart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 120" preserveAspectRatio="none">
                  <g class="group">
                    <path class="shape" d=""></path>
                    <path class="trend" d=""></path>
                  </g>
                </svg>
                <div class="tracker-dates">
                  <div class="tracker-date hover" data-stamp="" style="left: 57.8595%;">
                    <div class="tracker"></div>
                    <div class="line"></div>
                    <div class="text">
                      <span class="cal">
                        <span class="day">10</span>
                        <span class="month">Feb</span>
                      </span>
                      <span class="year">2020</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="analysis--prevalence--date-labels" class="support">
              <div class="x axis">
                <div class="axis-dates">
                  <div class="axis-date reference" style="left: 0%;">
                    <div class="line"></div>
                    <div class="text">
                      <span class="cal">
                        <span class="month"></span>
                      </span>
                      <span class="year"></span>
                    </div>
                  </div>
                  <div class="axis-date marker" style="left: 25%;">
                    <div class="line"></div>
                    <div class="text">
                      <span class="cal">
                        <span class="month"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="analysis--relationships" class="duo">
          <div id="analysis--node-timelines" class="block right time-based" data-duo="right" >
            <div class="header">
              <div class="title" data-tooltip="outside">
                <h4>Lineage emergence date distributions</h4>
                <button class="info">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                    <path d="m4.63,2.13c0,.34-.28.62-.62.62s-.62-.28-.62-.62.28-.62.62-.62.62.28.62.62Zm-1,1.45v2.55c0,.21.17.38.38.38s.38-.17.38-.38v-2.55c-.12.03-.24.05-.38.05s-.25-.02-.38-.05Z" stroke-width="0"></path>
                  </svg>
                </button>
              </div>
            </div>


            <div class="chart" >
              <div class="feature">
                <div class="y axis">
                  <!-- <div class="values">
                    <span class="value min"><span class="text"><span class="val">0%</span> <span class="units">probability</span></span><span class="tick"></span></span>
                    <span class="value max"><span class="text"><span class="val">100%</span> <span class="units">probability</span></span><span class="tick"></span></span>
                  </div> -->
                </div>
                <div class="displays">
                  <div class="display">
                    <div class="timeline">
                      <div class="guide min"></div>
                      <div class="guide max"></div>
                      <div class="label reference" >
                        <div class="line"></div>
                        <div class="text">
                          <span class="cal"><span class="year">2020</span></span>
                        </div>
                      </div>

                      <div class="tracker"></div>

                      <div class="label date">
                        <span class="cal"><span class="day"></span><span>&nbsp;</span><span class="month"></span></span>
                      </div>
                    </div>
                    <svg class="series-group-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 48" width="352" height="48" preserveAspectRatio="none" >
                      <g class="series group">
                        <path class="dist" d="" fill="" stroke-width="0"></path>
                        <line class="pointer" x1="-1" y1="-1" x2="-1" y2="-1" fill="none" stroke="#000" stroke-linejoin="round"></line>
                      </g>
                    </svg>
                  </div>
                </div>
              </div>
              <div class="support">
                <div class="x axis">
                  <div class="tag">Root</div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div id="analysis--list">
          <div id="list--titles" class="duo">
            <div class="block left"></div>
            <div class="block right">
              <div class="header">
                <div class="title" data-tooltip="outside">
                  <h4>Mutation emergence date distributions</h4>
                  <button class="info">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                      <path d="m4.63,2.13c0,.34-.28.62-.62.62s-.62-.28-.62-.62.28-.62.62-.62.62.28.62.62Zm-1,1.45v2.55c0,.21.17.38.38.38s.38-.17.38-.38v-2.55c-.12.03-.24.05-.38.05s-.25-.02-.38-.05Z" stroke-width="0"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div id="analysis--track-mutations-container">
            <div class="analysis--track-mutations duo" data-from="root" data-to="mrca">
              <div class="block left">
                <div class="header">
                  <div class="schematic" data-trail-alignment="center">
                    <div class="division">
                      <div class="segment" data-from="root" data-to="mrca" data-trail="center">
                        <div class="trail"></div>
                        <div class="point from"></div>
                        <div class="point to"></div>
                      </div>
                    </div>
                    <div class="division">
                      <div class="segment" data-from="mrca" data-to="a" data-trail="up">
                        <div class="trail"></div>
                        <div class="point from"></div>
                        <div class="point to"></div>
                      </div>
                      <div class="segment" data-from="mrca" data-to="b" data-trail="down">
                        <div class="trail"></div>
                        <div class="point from"></div>
                        <div class="point to"></div>
                      </div>
                    </div>
                  </div>
                  <h4>
                    <span class="analysis--mutations-ancestor"></span>
                    to
                    <span class="analysis--mutations-descendant"></span>
                  </h4>
                </div>
              </div>
              <div class="analysis--mutation-timeline block right">
                <div class="date-container">
                  <div class="dates">
                    <div class="range">
                      <div class="guide date start" data-stamp="2020-02-05"></div>
                      <div class="guide date end" data-stamp="2020-05-05"></div>
                    </div>
                    <div class="tracker-date hover reference" data-stamp="">
                        <div class="tracker"></div>
                      </div>
                  </div>
                </div>

                <div class="analysis--node-comparison--mutation">
                  <div class="analysis--node-comparison--mutation-labels">
                    <a class="analysis--node-comparison--mutation-name mutation-name" href="">
                      <span class="allele allele-from"></span><span class="site"></span><span class="allele allele-to"></span>
                    </a>
                    <span class="analysis--node-comparison--mutation-is-apobec">APOBEC</span>
                    <p class="analysis--node-comparison--mutation-prevalence"><span>99%</span> of base trees</p>
                  </div>
                  <div class="analysis--mutation-time-chart-container">
                    <svg class="series-group-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 12" width="352" height="12" preserveAspectRatio="none" >
                      <g class="series group">
                        <path class="dist" d="" fill="" stroke-width="0"></path>
                        <line class="pointer" x1="-1" y1="-1" x2="-1" y2="-1" fill="none" stroke="#000" stroke-linejoin="round"></line>
                      </g>
                    </svg>
                    <div class="guide min"></div>
                    <div class="time-chart--readout">
                      <div class="time-chart--date"></div>
                      <div class="time-chart--series">
                        <span class="value-label">##%</span>
                        <span class="series-label"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>
