        <div class="header--descriptor">
          <div class="header--title">Run</div>
          <div class="header--summary">
            <p class="description">
            <span class="text"></span>
            </p>
          </div>
          <div class="reference-sequence">
            <div class="reference--suggesting">
              Is this <button>the 1</button>?
            </div>
            <div class="reference--selected">
              <p class="reference--identified"><span class="reference--selection"></span> selected</p>
              <p class="reference--unidentified">Reference selected</p>
              <button>Reset</button>
            </div>
            <div class="reference--none">
              <p>No reference sequence identified</p>
              <button>Choose one</button>
            </div>
          </div>
        </div>

