        <div class="header--descriptor">
          <div class="header--title">Run</div>
          <div class="header--summary">
            <p class="description">
            <span class="value">1,889</span>
            <span class="text">SARS-CoV-2 U.S. sequences from the first wave of the pandemic.</span>

            </p>
          </div>
        </div>
        <div class="header--options-group">
          <div class="option--rename-file option" data-symbol="left">

            <div class="option--selector">

                <div class="text">
                  <span class="name">filename</span>.<span class="ext">dphy</span>
                </div>
                <!-- <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                    <path d="m10.27,6.23l-1.5-1.5c-.07-.07-.17-.11-.27-.11h-2.5c-.21,0-.38.17-.38.38v6c0,.21.17.38.38.38h4c.21,0,.38-.17.38-.38v-4.5c0-.1-.04-.19-.11-.27Zm-3.89,4.39v-5.25h1.75v1.12c0,.21.17.38.38.38h1.12v3.75h-3.25Z" stroke-width="0"/>
                  </svg>
                </div> -->
            </div>
          </div>
