  <div id="lineages" class="view">
    <header>
      <div class="header--basic">
        {{> header_common }}
      </div>
    </header>
    <div class="main-content visualizations--container">
      <section id="lineages--mcc">
        <div class="lineages--mcc--header">
          <h1>MCC</h1>
          <button class="mcc-zoom-button reset" disabled>Reset zoom</button>
        </div>
        <div class="tree-canvas-container">
          <canvas id="lineages--mcc-canvas" class="tree-canvas"></canvas>
        </div>
        <div class="tree-hint-container">
          <div class="tree-hint hover">Hover to preview a node.</div>
          <div class="tree-hint hover-root hidden">Previewing <span class="node root">Root</span>.</div>
          <div class="tree-hint hover-mrca hidden">Previewing <span class="node mrca">MRCA of A and B</span>.</div>
          <div class="tree-hint hover-node1 hidden">Previewing <span class="node node1">Selection A</span>.</div>
          <div class="tree-hint hover-node2-descendant hidden">Previewing <span class="node node2">Selection B</span>, a descendant of A.</div>
          <div class="tree-hint hover-node2-cousin hidden">Previewing <span class="node node2">Selection B</span>. The <span class="node mrca">MRCA of A and B</span> has been automatically inferred.</div>
          <div class="tree-hint preview-node1 hidden">Previewing <span class="node node1">Selection A</span> <span class="click-hint">(click to confirm selection)</span>.</div>
          <div class="tree-hint preview-node2-descendant hidden">Previewing <span class="node node2">Selection B</span>, a descendant of A <span class="click-hint">(click to confirm selection)</span>.</div>
          <div class="tree-hint preview-node2-cousin hidden">Previewing <span class="node node2">Selection B</span> <span class="click-hint">(click to confirm selection)</span>. The <span class="node mrca">MRCA of A and B</span> has been automatically inferred.</div>
          <div class="tree-hint max-selections hidden">Remove a selection to explore other nodes.</div>
          <div class="tree-hint zoom hidden">Click and drag to zoom to a selection area.</div>
        </div>
        <div class="constrain-selection">
          <input type="checkbox" id="lineages--constrain-selection" />
          <label id="lineages--constrain-selection--label" for="lineages--constrain-selection">Only select branches appearing in <span class="cred-threshold"></span> or more of base trees</label>
        </div>
        {{> mcc_opts }}
      </section>
      <section id="lineages--right" class="charts--container dual">
        <div id="lineages--overview" class="duo">
          <div id="lineages--node-list">
            <div class="lineages--node-detail root active">
              <div class="node-icon"><div class="box"><div class="glyph"></div></div></div>
              <div class="node-info">
                <div class="node-name">Root</div>
                <div class="node-stats"><span class="node--tip-count">00 tips</span></div>
                <div class="tip-info hidden">Tip <span class="tip-id"></span></div>
                {{> lineages_node_metadata }}
              </div>
            </div>
            <div class="lineages--node-detail mrca">
              <div class="node-icon"><div class="box"><div class="glyph"></div></div></div>
              <div class="node-info">
                <div class="node-source">Automatically inferred</div>
                <div class="node-name">MRCA of A and B</div>
                <div class="node-stats"><span class="node--tip-count">00 tips</span>,
                  <!-- <span class="mono-hover">monophyletic <span class="mono-tooltip">the base tree has an inner node whose descendant tips are an exact match of the tips of the selected MCC node.</span></span>  -->
                  <span class="mono-hover">monophyletic
                  in <span class="node--confidence">00%</span> of base trees
                </div>
                <div class="tip-info hidden">Tip <span class="tip-id"></span></div>
                {{> lineages_node_metadata }}
              </div>
              <button type="button" class="node-dismiss" aria-label="Dismiss node"><div class="box"><div class="glyph"></div></div></button>
            </div>
            <div class="lineages--node-detail node1">
              <div class="node-icon"><div class="box"><div class="glyph"></div></div></div>
              <div class="node-info">
                <div class="node-source">Previewing</div>
                <div class="node-name">Selection A</div>
                <div class="node-stats"><span class="node--tip-count">00 tips</span>,
                  <!-- <span class="mono-hover">monophyletic <span class="mono-tooltip">the base tree has an inner node whose descendant tips are an exact match of the tips of the selected MCC node.</span></span>  -->
                  <span class="mono-hover">monophyletic
                  in <span class="node--confidence">00%</span> of base trees
                </div>
                <div class="tip-info hidden">Tip <span class="tip-id"></span></div>
                {{> lineages_node_metadata }}
              </div>
              <button type="button" class="node-dismiss" aria-label="Dismiss node"><div class="box"><div class="glyph"></div></div></button>
            </div>
            <div class="lineages--node-detail node2">
              <div class="node-icon"><div class="box"><div class="glyph"></div></div></div>
              <div class="node-info">
                <div class="node-source">Previewing</div>
                <div class="node-name">Selection B</div>
                <div class="node-stats"><span class="node--tip-count">00 tips</span>,
                  <!-- <span class="mono-hover">monophyletic <span class="mono-tooltip">the base tree has an inner node whose descendant tips are an exact match of the tips of the selected MCC node.</span></span>  -->
                  <span class="mono-hover">monophyletic
                  in <span class="node--confidence">00%</span> of base trees
                </div>
                <div class="tip-info hidden">Tip <span class="tip-id"></span></div>
                {{> lineages_node_metadata }}
              </div>
              <button type="button" class="node-dismiss" aria-label="Dismiss node"><div class="box"><div class="glyph"></div></div></button>
            </div>
            <div class="id-lookup">
              <form>
                <label for="id-lookup--input">Look up a sequence id</label>
                <div>
                  <input type="search" class="id-lookup--input" name="id-lookup" id="id-lookup--input" spellcheck="false" autocomplete="off" placeholder="Look up a sequence id…">
                </div>
                <div class="autocomplete-suggestion"></div>
              </form>
            </div>
          </div>
          <div id="lineages--prevalence">
            <div class="header">
              <h4 class="title">Mean lineage prevalence over time</h4>
            </div>
            <div class="lineages--prevalence--chart-container">
              <canvas id="lineages--prevalence--chart"></canvas>
              <div class="lineages--prevalence--readout hidden">
                <div class="prevalence--date"></div>
                <div class="prevalence--series root">
                  <div class="dot"></div>
                  <span class="value-label">##%</span>
                  <span class="series-label">Root</span>
                </div>
                <div class="prevalence--series mrca hidden">
                  <div class="dot"></div>
                  <span class="value-label">##%</span>
                  <span class="series-label">MRCA of A and B</span>
                </div>
                <div class="prevalence--series node1 hidden">
                  <div class="dot"></div>
                  <span class="value-label">##%</span>
                  <span class="series-label">Selection A</span>
                </div>
                <div class="prevalence--series node2 hidden">
                  <div class="dot"></div>
                  <span class="value-label">##%</span>
                  <span class="series-label">Selection B</span>
                </div>
              </div>
            </div>
            <div id="lineages--prevalence--date-labels">
              <div id="lineages--prevalence--start-date" class="lineages--prevalence--date-label">December 2019</div>
              <div id="lineages--prevalence--end-date" class="lineages--prevalence--date-label">May 2020</div>
            </div>
          </div>

        </div>
        <div id="lineages--relationships" class="duo">
          <div id="lineages--node-layout"  class="block" data-duo="left" >

            <div class="header">
              <div class="title">
                <h4>Node diagram</h4>
              </div>
            </div>

            <div id="subway" data-config="root">
              <div class="lines">
                <div class="line central" data-from="root" data-to="-" data-track="center">
                  <div class="track"></div>
                  <div class="termini">
                    <div class="terminus enter">Root</div>
                    <div class="terminus exit">MRCA</div>
                  </div>
                  <div class="transit">
                    <div class="stations">
                      <div data-mutation="" class="station">
                        <div class="platform">
                          <div class="passenger">
                            <span class="transfer from"></span><span class="train"></span><span class="transfer to"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="signage">
                      <span class="count">4</span>&nbsp;<span>mutations</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="lines">
                <div class="line upper" data-from="-" data-to="-" data-track="up">
                  <div class="track"></div>
                  <div class="termini">
                    <div class="terminus exit">A</div>
                  </div>
                  <div class="transit">
                    <div class="stations">
                    </div>
                    <div class="signage">
                      <span class="count">4</span>&nbsp;<span>mutations</span>
                    </div>
                  </div>
                </div>
                <div class="line end" data-from="-" data-to="-" data-track="center">
                  <div class="track"></div>
                  <div class="termini">
                    <div class="terminus exit"></div>
                  </div>
                  <div class="transit">
                    <div class="stations">
                    </div>
                    <div class="signage">
                      <span class="count">4</span>&nbsp;<span>mutations</span>
                    </div>
                  </div>
                </div>
                <div class="line lower" data-from="mrca" data-to="b" data-track="down">
                  <div class="track"></div>
                  <div class="termini">
                    <div class="terminus exit">B</div>
                  </div>
                  <div class="transit">
                    <div class="stations">
                      <!-- <div data-mutation="C1059T" class="station mt-?C1059T mt?-C1059T"><div class="platform"><div class="passenger"><span class="from">C</span><span class="train">1059</span><span class="transfer to">T</span></div></div></div>
                      <div data-mutation="C11916T" class="station mt-?C11916T mt?-C11916T"><div class="platform"><div class="passenger"><span class="from">C</span><span class="train">11916</span><span class="transfer to">T</span></div></div></div>
                      <div data-mutation="C18998T" class="station mt-?C18998T mt?-C18998T"><div class="platform"><div class="passenger"><span class="from">C</span><span class="train">18998</span><span class="transfer to">T</span></div></div></div>
                      <div data-mutation="G29540A" class="station mt-?G29540A mt?-G29540A"><div class="platform"><div class="passenger"><span class="from">G</span><span class="train">29540</span><span class="transfer to">A</span></div></div></div>
                      <div data-mutation="A20553G" class="station mt-?A20553G mt?-A20553G"><div class="platform"><div class="passenger"><span class="from">A</span><span class="train">20553</span><span class="transfer to">G</span></div></div></div>
                      <div data-mutation="T9429C" class="station mt-?T9429C mt?-T9429C"><div class="platform"><div class="passenger"><span class="from">T</span><span class="train">9429</span><span class="transfer to">C</span></div></div></div>
                      <div data-mutation="G21724C" class="station mt-?G21724C mt?-G21724C"><div class="platform"><div class="passenger"><span class="from">G</span><span class="train">21724</span><span class="transfer to">C</span></div></div></div>
                      <div data-mutation="G19525T" class="station mt-?G19525T mt?-G19525T"><div class="platform"><div class="passenger"><span class="from">G</span><span class="train">19525</span><span class="transfer to">T</span></div></div></div>
                      <div data-mutation="G11083T" class="station mt-?G11083T mt?-G11083T"><div class="platform"><div class="passenger"><span class="from">G</span><span class="train">11083</span><span class="transfer to">T</span></div></div></div>
                      <div data-mutation="C21757T" class="station mt-?C21757T mt?-C21757T"><div class="platform"><div class="passenger"><span class="from">C</span><span class="train">21757</span><span class="transfer to">T</span></div></div></div> -->
                    </div>
                    <div class="signage">
                      <span class="count">10</span>&nbsp;<span>mutations</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="lineages--node-timelines" class="block time-based" data-duo="right" data-element="lineage-emergence">
            <div class="header">
              <div class="title" data-tooltip="outside">
                <h4>Lineage emergence date distributions</h4>
                <button class="info">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                    <path d="m4.63,2.13c0,.34-.28.62-.62.62s-.62-.28-.62-.62.28-.62.62-.62.62.28.62.62Zm-1,1.45v2.55c0,.21.17.38.38.38s.38-.17.38-.38v-2.55c-.12.03-.24.05-.38.05s-.25-.02-.38-.05Z" stroke-width="0"></path>
                  </svg>
                </button>
              </div>
            </div>


            <div class="chart" >
              <div class="feature">
                <div class="y axis">
                  <div class="values">
                    <span class="value"><span class="text"><span class="val">0%</span> <span class="units">probability</span></span><span class="tick"></span></span>
                    <span class="value"><span class="text"><span class="val">100%</span> <span class="units">probability</span></span><span class="tick"></span></span>
                  </div>
                </div>
                <div class="displays">
                  <div class="display">
                    <div class="timeline">
                      <div class="label reference" style="--start-pct: 38.2500%;">
                        <span class="cal"><span class="year">2020</span></span>
                      </div>
                      <div id="lineages-nt-root-date-label" class="label root" data-lineage="root" data-stamp="2019-12-01" style="--start-pct: 22.9268%">
                        <span class="cal"><span class="day">1</span><span>&nbsp;</span><span class="month">Dec</span></span>
                      </div>
                      <div id="lineages-nt-mrca-date-label" class="label mrca nl?-a nl?-b" data-lineage="mrca" data-stamp="2020-02-05" style="--start-pct: 55.1220%">
                        <span class="cal"><span class="day">5</span><span>&nbsp;</span><span class="month">Feb</span></span>
                      </div>
                      <div id="lineages-nt-a-date-label" class="label node-a" data-lineage="a" data-lineage-ext="tip" data-stamp="2020-04-01" style="--start-pct: 82.4390%">
                        <span class="cal"><span class="day">1</span><span>&nbsp;</span><span class="month">Apr</span></span>
                      </div>
                      <div id="lineages-nt-b-date-label"  class="label node-b" data-lineage="b" data-lineage-ext="tip" data-stamp="2020-05-05" style="--start-pct: 99.0244%">
                        <span class="cal"><span class="day">5</span><span>&nbsp;</span><span class="month">May</span></span>
                      </div>
                    </div>
                    <canvas></canvas>
                    <!-- Hovered dates -->
                    <!-- port to canvas -->
                    <!-- <div class="tracker-dates">
                      <div class="tracker-date hover reference" style="left: 20.896%;">
                        <div class="tracker"></div>
                      </div>
                    </div> -->
                  </div>
                  <!-- port to canvas -->
                  <!-- <div class="guide date reference" style="--start-pct: 38.2500%;"></div>
                  <div class="range" style="--start-pct: 82.4390%; --width-pct: 0">
                    <div class="guide date start nl?-mrca nl?-a" ></div>
                  </div>
                  <div class="range" style="--start-pct: 99.0244%; --width-pct: 0">
                    <div class="guide date start nl?-mrca nl?-b" ></div>
                  </div>
                  <div class="guide max"></div>
                  <div class="guide min"></div> -->
                </div>
              </div>
              <div class="support">
                <div class="x axis">
                  <div id="lineages-nt-root-label" class="tag root" data-lineage="root" data-stamp="2019-12-01" style="--pct: 22.9268%">Root</div>
                  <div id="lineages-nt-mrca-label" class="tag mrca" data-lineage="mrca" data-stamp="2020-02-05" style="--pct: 55.1220%">MRCA</div>
                  <div id="lineages-nt-a-label" class="tag node-a" data-lineage="a" data-lineage-ext="tip" data-stamp="2020-04-01" style="--pct: 82.4390%">A</div>
                  <div id="lineages-nt-b-label" class="tag node-b" data-lineage="b" data-lineage-ext="tip" data-stamp="2020-05-05" style="--pct: 99.0244%">B</div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div id="lineages--list">
          <div id="list--titles" class="duo">
            <div class="block left"></div>
            <div class="block right">
              <div class="header">
                <div class="title" data-tooltip="outside">
                  <h4>Mutation emergence date distributions</h4>
                  <button class="info">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                      <path d="m4.63,2.13c0,.34-.28.62-.62.62s-.62-.28-.62-.62.28-.62.62-.62.62.28.62.62Zm-1,1.45v2.55c0,.21.17.38.38.38s.38-.17.38-.38v-2.55c-.12.03-.24.05-.38.05s-.25-.02-.38-.05Z" stroke-width="0"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div id="lineages--track-mutations-container">
            <div class="lineages--track-mutations duo" data-from="root" data-to="mrca">
              <div class="block left">
                <div class="header">
                  <div class="schematic" data-trail-alignment="center">
                    <div class="division">
                      <div class="segment" data-from="root" data-to="mrca" data-trail="center">
                        <div class="trail"></div>
                        <div class="point from"></div>
                        <div class="point to"></div>
                      </div>
                    </div>
                    <div class="division">
                      <div class="segment" data-from="mrca" data-to="a" data-trail="up">
                        <div class="trail"></div>
                        <div class="point from"></div>
                        <div class="point to"></div>
                      </div>
                      <div class="segment" data-from="mrca" data-to="b" data-trail="down">
                        <div class="trail"></div>
                        <div class="point from"></div>
                        <div class="point to"></div>
                      </div>
                    </div>
                  </div>
                  <h4>
                    <span class="lineages--list-ancestor"></span>
                    to
                    <span class="lineages--list-descendant"></span>
                  </h4>

                  <!-- <span class="lineages--node-overlap-item">
                    In <span class="lnoi-pct"></span>% of base trees,
                    <span class="root-message">
                      the MRCA of <span class="lnoi-2">node</span> is <span class="lnoi-1">Root</span>
                    </span>
                    <span class="non-root-message">
                      the MRCA of the tips under
                      <span class="lnoi-1"></span> and the MRCA of the tips under
                      <span class="lnoi-2"></span> are the same inner node.
                    </span>
                  </span> -->
                </div>
              </div>
              <div class="lineages--mutation-timeline right">

                <!-- <p class="lineages--node-comparison--mutation-header">
                  <span class="lineages--node-comparison--mutation-count">0 mutations</span> between nodes appear in
                  <span class="lineages--node-comparison--mutation-threshold">50%</span> of base trees;
                </p> -->
                <div class="lineages--node-comparison--mutation">
                  <div class="lineages--node-comparison--mutation-labels">
                    <a class="lineages--node-comparison--mutation-name mutation-name" href="">
                      <span class="allele allele-from"></span><span class="site"></span><span class="allele allele-to"></span>
                    </a>
                    <span class="lineages--node-comparison--mutation-is-apobec">APOBEC</span>
                    <p class="lineages--node-comparison--mutation-prevalence"><span>99%</span> of base trees</p>
                  </div>
                  <div class="lineages--mutation-time-chart-container">
                    <canvas class="lineages--mutation-time-chart"></canvas>
                    <div class="time-chart--readout">
                      <div class="time-chart--date"></div>
                      <div class="time-chart--series">
                        <span class="value-label">##%</span>
                        <span class="series-label"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


  </div>
