              <div class="node-details">
                <details>
                  <summary>Details</summary>
                  <div class="node-details--inner">
                    <div class="node-prevalence">
                      <h4>Lineage prevalence over time</h4>
                      <p>Showing 95% confidence range</p>
                      <canvas class="node-prevalence-canvas"></canvas>
                    </div>
                    <div class="node-metadata">
                      <h4 class="estimated metadata--heading">Estimated metadata</h4>
                      <div class="node-metadata-item">
                        <details>
                          <summary>
                            <div class="pair--key-value">
                              <span class="key"></span> <div class="value"></div>
                            </div>
                          </summary>
                          <div class="tip-counts">
                            <div class="metadata--heading">Metadata values of tips</div>
                            <div class="pair--value-count">
                              <span class="value"></span> <span class="count"></span>
                            </div>
                          </div>
                        </details>
                      </div>
                    </div>
                  </div>
                </details>
              </div>