        <div class="header">
          <div class="title" data-tooltip="outside">
            <h3>MCC (Maximum Clade Credibility) Tree</h3>
            <button class="info">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                <path d="m4.63,2.13c0,.34-.28.62-.62.62s-.62-.28-.62-.62.28-.62.62-.62.62.28.62.62Zm-1,1.45v2.55c0,.21.17.38.38.38s.38-.17.38-.38v-2.55c-.12.03-.24.05-.38.05s-.25-.02-.38-.05Z"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="tree-container">
          <div class="tree-canvas-container feature">
            <canvas class="tree-canvas"></canvas>
            <div class="dates">
            </div>
            <div class="controls-position anchor-center anchor-left">
              <div class="tree--zoom controls multiple">
                <button data-button="zoom-in" class="control">
                  <svg class="icon" xmlns="svgXMLNS" viewBox="0 0 16 16">
                    <path d="m11.38,8c0,.21-.17.38-.38.38h-2.62v2.62c0,.21-.17.38-.38.38s-.38-.17-.38-.38v-2.62h-2.62c-.21,0-.38-.17-.38-.38s.17-.38.38-.38h2.62v-2.62c0-.21.17-.38.38-.38s.38.17.38.38v2.62h2.62c.21,0,.38.17.38.38Z"></path>
                  </svg>
                  <div class="label">Zoom in</div>
                </button>
                <button data-button="zoom-out" class="control">
                  <svg class="icon" xmlns="svgXMLNS" viewBox="0 0 16 16">
                    <path d="m11.38,8c0,.21-.17.38-.38.38h-6c-.21,0-.38-.17-.38-.38s.17-.38.38-.38h6c.21,0,.38.17.38.38Z"></path>
                  </svg>
                  <div class="label">Zoom out</div>
                </button>
                <button data-button="mcc-zoom-button reset" class="control" disabled>
                  <svg class="icon" xmlns="svgXMLNS" viewBox="0 0 16 16">
                    <path d="m11.38,8c0,.21-.17.38-.38.38h-2.62v2.62c0,.21-.17.38-.38.38s-.38-.17-.38-.38v-2.62h-2.62c-.21,0-.38-.17-.38-.38s.17-.38.38-.38h2.62v-2.62c0-.21.17-.38.38-.38s.38.17.38.38v2.62h2.62c.21,0,.38.17.38.38Z"></path>
                  </svg>
                  <div class="label">Reset zoom</div>
                </button>
              </div>
              <div class="tree--navigation controls">
                <button data-button="expand" class="control">
                  <svg class="icon" xmlns="svgXMLNS" viewBox="0 0 16 16">
                    <path d="m11.38,5v3c0,.21-.17.38-.38.38s-.38-.17-.38-.38v-2.27l-4.9,4.9h2.27c.21,0,.38.17.38.38s-.17.38-.38.38h-3c-.21,0-.38-.17-.38-.38v-3c0-.21.17-.38.38-.38s.38.17.38.38v2.27l4.9-4.9h-2.27c-.21,0-.38-.17-.38-.38s.17-.38.38-.38h3c.21,0,.38.17.38.38Z"></path>
                  </svg>
                  <div class="label">Expand</div>
                </button>
              </div>
            </div>
          </div>
        </div>
