      <div class="mcc-display-options">
          <div class="toggle">
           <!-- <span>MCC Settings</span> -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="3 3 10 10">
              <path d="m11.84,9.18
                          l-.94-.39
                            c.07-.25.12-.52.12-.79
                            s-.05-.54-.12-.79
                          l.94-.39
                            c.19-.08.28-.3.2-.49
                            s-.3-.28-.49-.2
                          l-.95.39
                            c-.27-.47-.65-.85-1.12-1.12
                          l.39-.95
                            c.08-.19-.01-.41-.2-.49-.19-.08-.41.01-.49.2
                          l-.39.94
                            c-.25-.07-.52-.12-.79-.12
                            s-.54.05-.79.12
                          l-.39-.94
                            c-.08-.19-.3-.28-.49-.2-.19.08-.28.3-.2.49
                          l.39.95
                            c-.47.27-.85.65-1.12,1.12
                          l-.95-.39
                            c-.19-.08-.41.01-.49.2
                            s.01.41.2.49
                          l.94.39
                            c-.07.25-.12.52-.12.79
                            s.05.54.12.79
                          l-.94.39
                            c-.19.08-.28.3-.2.49.06.14.2.23.35.23.05,0,.1,0,.14-.03
                          l.95-.39
                            c.27.47.65.85,1.12,1.12
                          l-.39.95
                            c-.08.19.01.41.2.49.05.02.1.03.14.03.15,0,.29-.09.35-.23
                          l.39-.94
                          c.25.07.52.12.79.12
                            s.54-.05.79-.12
                          l.39.94
                            c.06.14.2.23.35.23.05,0,.1,0,.14-.03.19-.08.28-.3.2-.49
                          l-.39-.95
                            c.47-.27.85-.65,1.12-1.12
                          l.95.39
                            s.1.03.14.03
                            c.15,0,.29-.09.35-.23.08-.19-.01-.41-.2-.49Zm-3.84,1.07
                            c-1.24,0-2.25-1.01-2.25-2.25
                            s1.01-2.25,2.25-2.25,2.25,1.01,2.25,2.25-1.01,2.25-2.25,2.25
                          Z" />
            </svg>
          </div>
          <div class="mcc-options-panel">
            <div class="constrain-selection">
              <label>
                <input type="checkbox"/>
                Only select high credibility tips or branches
              </label>
            </div>
            <div class="mcc-opt-list confidence">
              <label >Credibility threshold <span class="mcc-opt--confidence-readout">90</span>%
                <div class="mcc-opt--confidence-range block-slider">
                  <input type="range" min="1" max="100" value="90" step="1" class="slider--input" id="mcc-opt--confidence-range" />
                  <div class="slider--track"></div>
                  <div class="slider--track-filled"></div>
                  <div class="slider--thumb"></div>
                </div>
              </label>
            </div>
            <div class="mcc-opt-list y-spacing">
              <p>Vertical spacing</p>
              <div class="toggle-container">
                <label>Even
                  <input type="radio" name="mcc-opt--y-spacing" value="even" class="mcc-opt" />
                </label>
                <label>SNP distance
                  <input type="radio" name="mcc-opt--y-spacing" value="genetic" class="mcc-opt" />
                </label>
              </div>
            </div>
            <div class="mcc-opt-list topology">
              <p>Tree topology</p>
              <div class="toggle-container">
                <label>MCC
                  <input type="radio" name="mcc-opt--topology" value="mcc" class="mcc-opt" />
                </label>
                <label>HFS
                  <input type="radio" name="mcc-opt--topology" value="mcs" class="mcc-opt" />
                </label>
              </div>
            </div>
            <div class="mcc-opt-list color">
              <p>Branch coloring</p>
              <div class="toggle-container">
                <label>Credibility
                  <input type="radio" name="mcc-opt--color" value="confidence" class="mcc-opt" />
                </label>
                <label>Metadata
                  <input type="radio" name="mcc-opt--color" value="metadata" class="mcc-opt" />
                </label>
              </div>
            </div>
            <div class="mcc-opt-list nodes">
              <p>Inner nodes</p>
              <div class="toggle-container">
                <label>All
                  <input type="radio" name="mcc-opt--nodes" value="all" class="mcc-opt" />
                </label>
                <label>With mutations
                  <input type="radio" name="mcc-opt--nodes" value="mutations" class="mcc-opt" />
                </label>
              </div>
            </div>
          </div>
      </div>