<nav>
    <a href="/">
      <div id="nav--identity" class="nav-group">
        <h1 id="nav--logo">Delphy</h1>
      </div>
    </a>
    <div id="nav--views" class="nav-group">
      <button class="nav--tab">Run</button>
    </div>
    <div class="nav-group">
      <button id="nav--qc" class="uninspected">Data Issues</button>
      <button id="nav--about" class="nav--tab">About</button>
    </div>
    <!-- <div id="nav--data" class="nav-group">
      <button id="nav--import-view" >Import</button><div class="nav-divider"></div>
      <button id="nav--export-view" >Export</button>
    </div> -->
    <!-- <p class="version-info">
      core version <span class="core-version"></span>-<span class="core-build"></span> #<span class="core-commit"></span><br/>
      <span class="save-file-version hidden">save version <span class="save-version"></span>-<span class="save-build"></span> #<span class="save-commit"></span></span>
    </p> -->
  </nav>

