<div id="poplar" class="view">
  <div id="poplar--layout-container">
      <div id="poplar--scrubber-container">
        <svg height="40">
          <g id="poplar--scrubber-ticks">
            <line class="tick" x1="-1" x2="-1" y1="20" y2="40" />
          </g>
          <g id="poplar--scrubber-readout">
            <text x="-1" y="10" >the text</text>
          </g>
        </svg>
      </div>
      <div id="poplar--ntych-container">
        <div id="poplar--basetree-container">
          <canvas class="poplar--main"></canvas>
        </div>
        <div id="poplar--container">
          <div id="poplar--container-inner">
            <canvas class="poplar--main"></canvas>
          </div>
          <label id="poplar--minlinpct">
            <span>Min lineage prevalence: <span class="poplar-value"></span></span>
            <input type="range" min="0" max="100" value="5" />
          </label>
        </div>
      </div>
  </div>
</div>
