<div id="qc">
  <div class="qc--content">
    <button type="button" class="close-button">Close</button>
    <h1>Data issues with uploaded sequences</h1>
    <div id="qc--metadata" class="qc-category">
      <h2 class="active-header">Metadata Issues</h2>
      <h2 class="inactive-header">No metadata issues to report</h2>
      <p>
        Metadata needs to be  <code>|</code>  delimited with the date in the last position.
        Dates should be formatted  <code>YYYY-MM-DD</code> .
      </p>
      <div id="qc--dates" class="qc--error-type">
        <p>
          The following sequences are either missing dates or the dates are formatted incorrectly.
        </p>
        <div class="scrollable">
          <ul>
          </ul>
        </div>

      </div>
    </div>
    
    <div id="qc--sequences" class="qc-category">
      <h2 class="active-header">Sequence Issues</h2>
      <h2 class="inactive-header">No sequence issues no report</h2>

      <div id="qc--ambiguities" class="qc--error-type">
        <p>
          The following sequences contain ambiguous letters. The letters at these sites
          were replaced with 'N'.
        </p>
        <div class="scrollable">
          <ul>
            <li><span class="seq"></span>: <span class="data"></span></li>
          </ul>
        </div>
      </div>

      <div id="qc--state" class="qc--error-type">
        <p>
          The following sequences contain invalid states.
        </p>
        <div class="scrollable">
          <ul>
            <li><span class="seq"></span>: <span class="data"></span></li>
          </ul>
        </div>
      </div>

      <div id="qc--gaps" class="qc--error-type">
        <p>
          The following sequences contain invalid gaps.
        </p>
        <div class="scrollable">
          <ul>
            <li><span class="seq"></span>: <span class="data"></span></li>
          </ul>
        </div>
      </div>

      <div id="qc--mutations" class="qc--error-type">
        <p>
          The following sequences contain invalid mutations.
        </p>
        <div class="scrollable">
          <ul>
            <li><span class="seq"></span>: <span class="data"></span></li>
          </ul>
        </div>
    </div>
  
    <div id="qc--other" class="qc-category">
      <h2>Other Issues</h2>
      <div class="scrollable">
        <ul>
          <li><span class="seq"></span>: <span class="data"></span></li>
        </ul>
      </div>
    </div>
  

</div>
