  <div id="runner" class="view">
    <div id="reloading-scrim">
      <div id="reloading-inner">Loading</div>
    </div>
    <header>
      <div class="header--basic">
        {{> header_common }}
        <div class="header--options-group">
          <div id="step-control" class="option">
            <label for="step-options">Sample <span class="digit">1</span> tree per</label>
            <select id="step-options">
              <option value="7" >10,000,000 steps</option>
              <option value="6" selected>1,000,000 steps</option>
              <option value="5" >100,000 steps</option>
              <option value="4" >10,000 steps</option>
              <option value="3" >1,000 steps</option>
              <option value="2" >100 steps</option>
              <option value="1" >10 steps</option>
              <option value="0" >1 step</option>
            </select>
          </div>
        </div>
        <div id="option--show-advanced" class="option align-right symbol-left">
          <label id="show-advanced">
            <input type="checkbox" />
            <div class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <path d="m11.84,9.18l-.94-.39c.07-.25.12-.52.12-.79s-.05-.54-.12-.79l.94-.39c.19-.08.28-.3.2-.49s-.3-.28-.49-.2l-.95.39c-.27-.47-.65-.85-1.12-1.12l.39-.95c.08-.19-.01-.41-.2-.49-.19-.08-.41.01-.49.2l-.39.94c-.25-.07-.52-.12-.79-.12s-.54.05-.79.12l-.39-.94c-.08-.19-.3-.28-.49-.2-.19.08-.28.3-.2.49l.39.95c-.47.27-.85.65-1.12,1.12l-.95-.39c-.19-.08-.41.01-.49.2s.01.41.2.49l.94.39c-.07.25-.12.52-.12.79s.05.54.12.79l-.94.39c-.19.08-.28.3-.2.49.06.14.2.23.35.23.05,0,.1,0,.14-.03l.95-.39c.27.47.65.85,1.12,1.12l-.39.95c-.08.19.01.41.2.49.05.02.1.03.14.03.15,0,.29-.09.35-.23l.39-.94c.25.07.52.12.79.12s.54-.05.79-.12l.39.94c.06.14.2.23.35.23.05,0,.1,0,.14-.03.19-.08.28-.3.2-.49l-.39-.95c.47-.27.85-.65,1.12-1.12l.95.39s.1.03.14.03c.15,0,.29-.09.35-.23.08-.19-.01-.41-.2-.49Zm-3.84,1.07c-1.24,0-2.25-1.01-2.25-2.25s1.01-2.25,2.25-2.25,2.25,1.01,2.25,2.25-1.01,2.25-2.25,2.25Z" stroke-width="0"/>
              </svg>
            </div>
            <div class="text">Advanced run options</div>
          </label>
          <div class="pointer"><div class="shape"><span>▲</span></div></div>
        </div>
      </div>


      <div id="runner--advanced">
        <form id="runner--advanced--content">
          <div id="runner--advanced--options">
            <fieldset class="mutation-rate-fieldset">
              <h4>Mutation rate</h4>
              <div class="disabled-text">
                <p>Delphy does not support setting the mutation rate while <span class="small-caps">APOBEC</span> context detection is enabled.</p>
              </div>
              <div class="input-container">
                <input type="checkbox" id="site-rate-heterogeneity-toggle" name="isSiteHeterogeneity" autocomplete="off">
                <label for="site-rate-heterogeneity-toggle">Enable site rate heterogeneity</label>
              </div>
              <div class="input-container">
                <input type="checkbox" id="fixed-mutation-rate-toggle" name="isFixedMutationRate" autocomplete="off">
                <div class="inline-unit">
                  <label for="fixed-mutation-rate-toggle">Set a fixed overall mutation rate</label>
                  <div class="input-container">
                    <input type="number" id="overall-mutation-rate-input" value="1.000" step="0.01" min="0.000" name="overallMutationRate" autocomplete="off" />
                    <label for="overall-mutation-rate-input">&times; 10<sup>&minus;5</sup> mutations / site / year</label>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="population-model-fieldset">
              <h4>Population model</h4>
              <p id="#population-model-options" class="radio-set">
                <label>Exponential Growth<input id="popmodel-selector-expgrowth" type="radio" name="popmodel" value="exp-growth" checked ></label>
                <label>Skygrid<input id="popmodel-selector-skygrid" type="radio" name="popmodel" value="skygrid" ></label>
                <span class="disclaimer">Read more <a href="https://github.com/broadinstitute/delphy/wiki/Flexible-population-models" target="_">here</a>.</span>
              </p>
              <div id="popmodel-exponential" class="population-model-option">
                <div class="input-container">
                  <input type="checkbox" id="fixed-final-pop-size-toggle" name="isFixedFinalPopSize" autocomplete="off">
                  <div class="inline-unit">
                    <label for="fixed-final-pop-size-toggle">Set a fixed effective population size at time of latest tip</label>
                    <div id="overall-final-pop-size-label" class="input-container">
                      <input type="number" id="overall-final-pop-size-input" value="3.00" step="0.01" min="0.00" name="overallFinalPopSize" autocomplete="off" />
                      <label> years</label>
                    </div>
                  </div>
                </div>

                <div class="input-container">
                  <input type="checkbox" id="fixed-pop-growth-rate-toggle" name="isFixedPopGrowthRate" autocomplete="off">
                  <div class="inline-unit">
                    <label for="fixed-pop-growth-rate-toggle">Set a fixed effective population size growth rate</label>
                    <div class="input-container">
                      <input type="number" id="overall-pop-growth-rate-input" value="0.00" step="0.01" name="overallPopGrowthRate" autocomplete="off" />
                      <label> e-foldings / year</label>
                    </div>
                  </div>
                </div>
              </div>
              <fieldset id="popmodel-skygrid" class="population-model-option">
                <div class="input-container">
                  <label id="" class="">
                    <p>Model start date: <input type="date" id="popmodel-skygrid-k" value="2014-01-01"
                      name="skygrid-K" placeholder="YYYY-MM-DD"/></p>
                  </label>
                </div>
                <div class="input-container">
                  <label id="" class="">
                    <p>Split into <input type="number" id="popmodel-skygrid-num-intervals" value="100" name="skygrid-M"/> intervals</p>
                  </label>
                </div>
                <div class="input-container">
                  <p>Interval interpolation:
                    <label>Flat<input  id="popmodel-skygrid-interpolate-flat" type="radio" name="m-interpolation" value="flat"></label>
                    <label>Log-linear<input id="popmodel-skygrid-interpolate-loglinear" type="radio" name="m-interpolation" value="loglin" checked></label>
                  </p>
                </div>

                <label>
                  <input id="advanced-skygrid-toggle" type="checkbox">
                  <span>Advanced Skygrid Parameters</span>
                </label>
                <div id="advanced-skygrid-parameters">
                  <p class="advanced-skygrid-param">Population curve prior smoothness</p>
                  <p id="advanced-skygrid-timescale-options" class="radio-set">
                    <label id="advanced-skygrid-timescale-doubling">
                      <span>Set timescale</span>
                      <input type="radio" name="timescale" value="doubling" checked />
                    </label>
                    <label id="advanced-skygrid-timescale-tau">
                      <span>Set tau</span>
                      <input type="radio" name="timescale" value="tau" />
                    </label>
                    <label id="advanced-skygrid-timescale-infer">
                      <span>Infer tau with Gamma-prior</span>
                      <input type="radio" name="timescale" value="infer" />
                    </label>
                  </p>
                  <div id="advanced-skygrid-timescale-inputs" class="doubling">
                    <label class="doubling" id="advanced-skygrid-timescale-doubling-value">
                      <span>Timescale for doubling/halving: </span><input type="number" name="doubling-value" value="30" min="0"  step="any" /> <span>days</span>
                      <ul>
                        <li>this implies a value of tau of <span class="implied-tau">9.75</span>; read more <a href="https://github.com/broadinstitute/delphy/wiki/Flexible-population-models" target="_">here</a>.</li>
                      </ul>
                    </label>
                    <label class="tau" id="advanced-skygrid-timescale-tau-value">
                      <span>τ (tau): </span><input type="number" name="tau-value" value="9.75" step="any" min="0.0"/>
                      <ul>
                        <li>this implies a doubling/halving timescale of <span class="implied-days">30</span> days; read more <a href="https://github.com/broadinstitute/delphy/wiki/Flexible-population-models" target="_">here</a>.</li>
                      </ul>
                    </label>
                    <label class="infer" id="advanced-skygrid-timescale-infer-values">
                      <p><span>Alpha: </span> <input type="number" name="alpha-value" min="0" value="0.001" step="any" /></p>
                      <p><span>Beta: </span> <input type="number" name="beta-value"  min="0" value="0.001" step="any" /></p>
                    </label>
                  </div>
                  <p class="advanced-skygrid-param">Protection against low populations (read more <a href="https://github.com/broadinstitute/delphy/wiki/Flexible-population-models" target="_">here</a>)</p>
                  <div id="advanced-skygrid-barrier-options" class="radio-set">
                    <label>
                      <span>Enabled (recommended)</span>
                      <input type="radio" name="low-pop-protection" value="on" checked />
                    </label>
                    <label>
                      <span>Disabled</span>
                      <input type="radio" name="low-pop-protection" value="off"/>
                    </label>
                  </div>
                  <ul id="advanced-skygrid-barrier-values">
                    <li>
                      <label id="low-pop-barrier-location-label">
                        Minimum effective population size:
                        <input type="number" name="low-pop-barrier-location" value="1" min="0" step="any" />
                        day<span class="plural">s</span>
                      </label>
                    <li>
                      <label>
                        Impose penalty of 1 nat when population drops below minimum by
                        <input type="number" name="low-pop-barrier-scale" value="30" min="0" max="100" step="any" />%
                      </label>
                    </li>
                  </ul>
                </div>

              </fieldset>
            </fieldset>
            <fieldset class="apobec-fieldset">
              <h4><span class="small-caps">APOBEC</span> action</h4>
              <div class="disabled-text">
                <p>Delphy does not support detecting <span class="small-caps">APOBEC</span> context with fixed mutation rates enabled.</p>
              </div>
              <div class="input-container">
                <input type="checkbox" id="apobec-toggle" name="isApobec" autocomplete="off">
                <label for="apobec-toggle">Model <span class="small-caps">APOBEC</span> action (mpox)</label>
              </div>
            </fieldset>
          </div>
          <div id="runner--advanced--submit">
            <p class="warning-text">Updating these settings will erase your current progress and restart the run.</p>
            <div class="button-container">
              <button type="button" class="advanced--cancel-button">Cancel</button>
              <button type="submit" class="advanced--submit-button warning-button" disabled autocomplete="off">
                <span class="safe-restart">Confirm</span>
                <span class="warning-restart">Restart with selected options</span>
              </button>
            </div>
          </div>

        </form>
      </div>

    </header>

    <section class="main-content">

      <div id="runner--top">
        <div id="run-control" class="controls menu-group">
          <div class="toolbar">
            <input type="checkbox" id="run-input" />
            <label for="run-input" id="run-input--label" class="player">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                <path id="run-input--running" d="m13.5,13h9c.28,0,.5.22.5.5v9c0,.28-.22.5-.5.5h-9c-.28,0-.5-.22-.5-.5v-9c0-.28.22-.5.5-.5Z" stroke="none" />
                <path id="run-input--paused" d="m23.72,18.45l-9,4.5c-.33.17-.72-.08-.72-.45v-9c0-.37.39-.61.72-.45l9,4.5c.37.18.37.71,0,.89Z" stroke="none"/>
                <path id="run-input--stopping" d="m18 9 a9 9 0 1 0 9 9"/>
              </svg>
            </label>
            <span id="run-steps"><span class="digit">11</span> step<span class="plural">s</span></span>
          </div>
        </div>

        <div id="ess-wrapper" class="pre menu-group">
          <div id="ess-readout" class="toolbar" data-element="sample_size">
            <div class="heading" data-tooltip="outside">
              <span>Minimum effective</span> <span>sample size</span>
              <a class="info" href="https://github.com/fathominfo/delphy-web/wiki/Effective-Sample-Size" target="_">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                  <path d="m4.63,2.13c0,.34-.28.62-.62.62s-.62-.28-.62-.62.28-.62.62-.62.62.28.62.62Zm-1,1.45v2.55c0,.21.17.38.38.38s.38-.17.38-.38v-2.55c-.12.03-.24.05-.38.05s-.25-.02-.38-.05Z" stroke-width="0"/>
                </svg>
              </a>
            </div>
            <div class="readout">
              <span class="count composite fractional">
                <span class="before"></span>
                <span class="after"></span>
              </span>
            </div>
          </div>

          <div id="ess-meter-stages" class="toolbar" data-stage="converging" data-tooltip="inside">
            <div class="meter">
              <div class="bar" data-meter-level="0"></div>
              <div class="bar" data-meter-level="1"></div>
              <div class="bar" data-meter-level="2"></div>
              <div class="bar" data-meter-level="3"></div>
            </div>
            <div class="readout">
              <span class="label converging" data-readout-level="0">Converging</span>
              <span class="label stable" data-readout-level="1">Stable</span>
              <span class="label robust" data-readout-level="2">Robust</span>
              <span class="label publish" data-readout-level="3">Ready</span>
            </div>
            <div class="detail">
              <div class="text converging" data-detail-level="0"><p>Not enough statistically independent samples to be reliable.</p></div>
              <div class="text stable" data-detail-level="1"><p>Ready for initial exploration. Running longer will refine results.</p></div>
              <div class="text robust" data-detail-level="2"><p>Running longer is unlikely to materially change any results.</p></div>
              <div class="text publish" data-detail-level="3"><p>Results are most likely ready for publication.</p></div>
            </div>
            <a class="info" href="https://github.com/fathominfo/delphy-web/wiki/Effective-Sample-Size" target="_">
              <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                <path d="m4.63,2.13c0,.34-.28.62-.62.62s-.62-.28-.62-.62.28-.62.62-.62.62.28.62.62Zm-1,1.45v2.55c0,.21.17.38.38.38s.38-.17.38-.38v-2.55c-.12.03-.24.05-.38.05s-.25-.02-.38-.05Z" stroke-width="0"/>
              </svg>
            </a>
          </div>
        </div>

      </div>

      <div id="runner--bottom">

        <div id="runner--mcc">
          {{>mcc_tree}}

          <div class="mcc-legend">
            <div class="mcc-opt-list confidence">
              <label for="mcc-opt--confidence-range">Credibility threshold</label>
              <output name="mcc-opt--confidence-range--output" for="mcc-opt--confidence-range">
                Highlighting nodes in
                <span class="mcc-opt--confidence-readout cred-threshold">90%</span>
                of base trees
              </output>

              <div class="mcc-opt--confidence-range block-slider">
                <input type="range" min="1" max="100" value="90" step="1" class="slider--input" id="mcc-opt--confidence-range" />
                <div class="slider--track"></div>
                <div class="slider--track-filled"></div>
                <div class="slider--thumb"></div>
              </div>
            </div>
          </div>
        </div>


        <div id="run--indicators">

          <div id="runner--panel--modules" class="blocks">
              <div class="module trace">
                <div class="header">
                  <h3 class="title"></h3>
                  <div class="readout">
                    <div class="mean">
                      <span class="value"><span class="abbrev">M</span><span class="text">668</span></span>
                      <span class="units">mutations</span>
                    </div>
                    <div class="pointer"><div class="shape"><span>▲</span></div></div></div>
                </div>
                <div class="chart">
                  <div class="feature">
                    <div class="y axis">
                      <div class="values">
                        <span class="value">
                          <span class="text">
                            <span class="val">600</span>
                            <span class="units"></span>
                          </span>
                          <span class="tick"></span>
                        </span>
                        <span class="value hover">
                          <span class="text">
                            <span class="val">742</span>
                            <span class="units">
                          </span>
                          </span>
                        <span class="tick"></span>
                        </span>
                      </div>
                    </div>
                    <div class="displays">
                      <div class="histogram display">
                        <svg xmlns="svgXMLNS" viewBox="0 0 96 37.33">
                          <g class="bars">
                            <g class="distribution">
                              <rect x="48" y="0" height="3.73" width="2"></rect>
                            </g>
                            <!-- <g class="mean-value">
                              <rect x="73" height="37.33" width="2"></rect>
                            </g> -->
                          </g>
                        </svg>
                        <div class="divider"></div>
                      </div>
                      <div class="graph display">
                        <svg xmlns="svgXMLNS" viewBox="0 0 96 149">
                          <g class="run">
                            <rect class="period" x="0" y="0" height="96" width="149"></rect>
                            <path class="trend" d=""></path>
                          </g>
                          <g class="burn-in">
                            <rect class="period" x="0" y="96" height="0" width="149"></rect>
                            <path class="trend" d=""></path>
                          </g>
                        </svg>
                        <div class="position">
                          <div class="x p"></div>
                          <div class="y p"><div class="pos"></div></div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="support">
                    <div class="x axis meaning unitless">
                      <span class="tick"></span>
                      <p>
                        <span>
                          <span class="mean-label">Mean:</span>
                          <span class="tree-label">Sample:</span>
                        </span>
                        <span class="readout-value"></span>
                      </p>
                      <span class="readout-unit"></span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="module population">
                <div class="header">
                  <h3 class="title"></h3>
                  <div class="readout">
                    <div class="mean">
                      <span class="value"><span class="abbrev">M</span><span class="text">668</span></span>
                      <span class="units">mutations</span>
                    </div>
                    <div class="pointer"><div class="shape"><span>▲</span></div></div></div>
                </div>
                <div class="chart">
                  <div class="feature">
                    <div class="y axis">
                      <svg class="log-scale-ticks" xmlns="svgXMLNS" >
                        <text x="0">##</text>
                        <line></line>
                      </svg>
                    </div>
                    <div class="displays">
                      <div class="graph display">
                        <svg xmlns="svgXMLNS" viewBox="0 0 149 96">
                          <path class="trend range" d=""></path>
                          <path class="trend median" d=""></path>
                          <path class="trend sample" d=""></path>
                        </svg>
                        <div class="position">
                          <div class="x p"></div>
                          <div class="y p"><div class="pos"></div></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="support">
                    <div class="x axis">
                      <div class="min-date"></div>
                      <div class="max-date"></div>
                    </div>
                  </div>
                </div>
              </div>


          </div>
          <div id="burn-in-wrapper" class="pre">
            <input type="checkbox" id="burn-in-toggle" disabled />
            <label for="burn-in-toggle" >Hide burn in <span class="hint">click a histogram to select</span></label>
          </div>

          <div id="runner--export-list">
            <button id="runner--export-csv">Export Traces to TSV</button>
          </div>

        </div>
      </div>

    </section>



  </div>
