  <div id="select" class="view">
    <header>
      <div class="header--basic">
        <div class="header--descriptor">
          <div class="header--title">Select</div>
          <div class="header--summary">
            <p class="description">
            <span class="text"></span>
            </p>
          </div>
        </div>
      </div>
    </header>
    <div class="main-content visualizations--container">
      <section id="select--mcc">
        {{> mcc_tree }}
        <div class="tree-hint-container">
          <div class="tree-hint hover">Hover to preview a node.</div>
          <div class="tree-hint hover-root hidden">Previewing <span class="node root">Root</span>.</div>
          <div class="tree-hint hover-mrca hidden">Previewing <span class="node mrca">MRCA of A and B</span>.</div>
          <div class="tree-hint hover-nodeA hidden">Previewing <span class="node nodeA">Selection A</span>.</div>
          <div class="tree-hint hover-nodeB-descendant hidden">Previewing <span class="node nodeB">Selection B</span>, a descendant of A.</div>
          <div class="tree-hint hover-nodeB-cousin hidden">Previewing <span class="node nodeB">Selection B</span>. The <span class="node mrca">MRCA of A and B</span> has been automatically inferred.</div>
          <div class="tree-hint preview-nodeA hidden">Previewing <span class="node nodeA">Selection A</span> <span class="click-hint">(click to confirm selection)</span>.</div>
          <div class="tree-hint preview-nodeB-descendant hidden">Previewing <span class="node nodeB">Selection B</span>, a descendant of A <span class="click-hint">(click to confirm selection)</span>.</div>
          <div class="tree-hint preview-nodeB-cousin hidden">Previewing <span class="node nodeB">Selection B</span> <span class="click-hint">(click to confirm selection)</span>. The <span class="node mrca">MRCA of A and B</span> has been automatically inferred.</div>
          <div class="tree-hint max-selections hidden">Remove a selection to explore other nodes.</div>
          <div class="tree-hint zoom hidden">Click and drag to zoom to a selection area.</div>
        </div>
        <div class="constrain-selection">
          <input type="checkbox" id="select--constrain-selection" />
          <label id="select--constrain-selection--label" for="select--constrain-selection">Only select branches appearing in <span class="cred-threshold"></span> or more of base trees</label>
        </div>
        {{> mcc_opts }}
      </section>

      <section id="select--center" class="charts--container">

          <div id="select--node-layout"  class="block left" data-duo="left" >

            <div class="header">
              <div class="title">
                <h3>Node selection</h3>
                <span id="select--schematic-count"></span>
              </div>
            </div>
            <div id="select--schematic-controls">
              <p>
                Choose nodes for further analysis
                <button id="select--schematic-auto">Auto</button>
                <button id="select--schematic-clear">Clear</button>
              </p>
              <!-- <p>Add nodes by clicking in the tree on the left</p> -->
              <div id="select--peak-prevalence">
                <p id="select--peak-prevalence-toggle">
                  <span>Minimum peak prevalence</span>
                  <button id="select--peak-prevalence-less">-</button>
                  <span id="select--peak-prevalence-readout"></span>
                  <button id="select--peak-prevalence-more">+</button>
                </p>
              </div>

              <form id="select--metadata-transitions">
                <span>Highlight metadata transitions</span>
                <label>
                  <span class="select--metadata-field"></span>
                  <input type="radio" name="field" />
                </label>
              </form>
              <p id="select--intros-only">
                <span>Remove nodes that are not introductions</span>
                <button>Yes please</button>
              </p>
            </div>

            <div class="subway">
              <svg width="256" height="160" viewBox="0 0 256 160">
                <path class="connector" d="M0 0 L-45 0 -45 -15"></path>
                <g class="label">
                  <ellipse class="outline" cx="-15" cy="-15" rx="30" ry="30"></ellipse>
                  <ellipse class="name" cx="-10" cy="-10" rx="20" ry="20"></ellipse>
                  <rect class="label-bg"  rx="4" ry="4" x="0" y="0"></rect>
                  <text x="0" y="0">A</text>
                </g>
                <g class="mut-count">
                  <rect x="-56" y="-10" width="22" height="20"></rect>
                  <text x="-45" y="0">15</text>
                </g>
              </svg>
              <div class="subway-hover">
                <p class="subway--detail-tip-name">Tip <span>12354678</span></p>
                <p class="subway--detail-metadata"><span class="md-to"></span><span class="md-connect"><br/> from </span><span class="md-from"></span></p>
                <button type="button" class="subway--set-root" class="node-root-action" aria-label="set node as root">
                    Set as root
                </button>
                <button type="button" class="subway--reset-root" class="node-root-action" aria-label="reset root">
                    Reset root
                </button>
                <button type="button" class="subway--node-dismiss" aria-label="Dismiss node" title="Dismiss node" >Remove node</button>
              </div>
          </div>
        </div>
      </section>

       <section id="select--right">
        <div id="select--node-detail" class="block">
          <div class="header">
            <div class="title">
              <h3>Node Detail</h3>
              <div class="id-lookup">
                <form>
                  <label for="id-lookup--input">Look up a sequence id</label>
                  <div>
                    <input type="search" class="id-lookup--input" name="id-lookup" id="id-lookup--input" spellcheck="false" autocomplete="off" placeholder="Look up a sequence id…">
                  </div>
                  <div class="autocomplete-suggestion"></div>
                </form>
              </div>
            </div>
          </div>
          <div class="select--node-info">
            <div class="node-icon"><div class="shape"></div></div>
            <div class="node-description">
              <div class="node-title"><span class="node-name">Name</span> </div>
              <div class="node-info--inner-node">
                <div class="node-stats">
                  <span class="node--tip-count">00 tips</span>
                  <span class="mono-hover">, monophyletic in
                    <span class="node--confidence">00%</span> of base trees
                  </span>
                </div>
                <div class="metadata">
                  <h4 class="estimated metadata--heading"
                  >Modeled metadata
                  <button class="info"
                  title="Metadata values are calculated using parsimonious ancestral state reconstruction"
                  >
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8">
                      <path d="m4.63,2.13c0,.34-.28.62-.62.62s-.62-.28-.62-.62.28-.62.62-.62.62.28.62.62Zm-1,1.45v2.55c0,.21.17.38.38.38s.38-.17.38-.38v-2.55c-.12.03-.24.05-.38.05s-.25-.02-.38-.05Z"></path>
                    </svg>
                  </button>
                </h4>
                  <div class="node-metadata-item">
                    <div class="pair--key-value">
                      <span class="key"></span> <div class="value"></div>
                    </div>
                    <div class="tip-counts">
                      <div class="metadata--heading">Metadata values of tips</div>
                      <table class="pair--value-count">
                        <tr>
                          <th class="value"></th>
                          <td class="count"></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="node-info--tip">
                <div class="tip-info  node-stats">Tip <span class="tip-id"></span></div>
                <div class="metadata">
                  <h4>Metadata</h4>
                  <table>
                    <tr>
                      <th></th>
                      <td></td>
                    </tr>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div id="select--metadata-legend">
          <div class="header">
            <div class="title">
              <h3>Legend</h3>
            </div>
          </div>
          <div id="select--metadata-legend--list">
            <div class="legend-item">
              <div class="swatch"></div>
              <span class="name"></span>
            </div>
          </div>
        </div>

      </section>

    </div>


  </div>
