////////////////////////////////////////////
// @ FONT FACE
////////////////////////////////////////////

// Standard width
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/roboto/roboto-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/roboto/roboto-medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/roboto/roboto-bold.ttf') format('ttf');
}

// Standard width italic
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: url('/assets/fonts/roboto/roboto-mediumitalic.woff2') format('woff2');
}


// Roboto condensed

// Condensed width
@font-face {
  font-family: 'RobotoCondensed';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/roboto_condensed/roboto-condensed-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'RobotoCondensed';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/roboto_condensed/roboto-condensed-bold.woff2') format('woff2');
}


// roboto mono

@font-face {
  font-family: 'RobotoMono';
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/roboto_mono/roboto-mono-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'RobotoMono';
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/roboto_mono/roboto-mono-medium.woff2') format('woff2');
}
@font-face {
  font-family: 'RobotoMono';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/roboto_mono/roboto-mono-semibold.woff2') format('woff2');
}
@font-face {
  font-family: 'RobotoMono';
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/roboto_mono/roboto-mono-bold.woff2') format('woff2');
}

