////////////////////////////////////////////
// LINEAGES
////////////////////////////////////////////



#lineages .main-content {
  display: flex;

  .chart {
    .axis.x {
      margin-left: var(--lineages-chart-yaxis-width);
    }
  }


  #lineages--mcc {
    min-width: var(--tree-container-min-width);
    max-width: var(--lineages-tree-container-max-width);
    gap: var(--module-gap);
    width: 256px;
  }

  // .tree-canvas-container {
  //   border: solid 1px red;
  // }
  // .mcc_highlight {
  //   border: solid 1px yellow;
  // }


  .tree-canvas {
    // border: solid 1px blue;
    // cursor: crosshair;
    &.noding {
      cursor: default;
      &.new-node {
        cursor: pointer;
      }
    }
  }



  .mutation-name {
    opacity: var(--lineages-mutation-opacity);
  }

  #lineages--list .timeline .guide {
    opacity: var(--lineages-timeline-guide-opacity);
  }
}


#lineages--mcc {
  width: 300px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}


.mcc-zoom-button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;

  margin-left: 1rem;
  color: rgb(100, 100, 100);
  .t05();

  &:hover {
    color: rgb(50, 50, 50);
  }

  &:disabled,
  &:disabled:hover {
    color: rgb(180, 180, 180);
    cursor: default;
  }
}


.tree-hint-container {

  margin-bottom: 1em;
  color: #777;
  min-height: calc(14px * 2);

  .click-hint { font-style: italic; }
  .node { font-weight: 700; }
  display: none;

}

.constrain-selection {
  font-size: 12px;
  margin-bottom: 10px;
  color: #777;
  display: flex;
  gap: 7px;
  align-items: flex-start;
  line-height: 1.2;
  display: none;
}

#lineages--right {
  flex: 1;
  display: flex;
  flex-direction: column;
}



#lineages--column-1 {
  margin: 0 30px;
  width: calc(350px + 8px + 12px);
  display: grid;
  // grid-template-rows: auto auto 120px 1fr auto;
  grid-template-rows: auto 120px 1fr auto;
  gap: 1em;
}

.lineages--header {
  display: flex;
  // flex-direction: column;
  // gap: 0.5em;
  justify-content: space-between;
}







// .sidebar--lookup {
//   font-size: 12px;
// }

.id-lookup {
  margin-top: -0.5em;

  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  // form {
  //   width: 100%;
  //   > div {
  //     width: 100%;
  //   }
  // }

  input {
    border: 0;
    background-color: #f5f5f5;
    padding: 0.5em;
    // font-size: 1em;
    // width: 100%;

    &:disabled {
      background-color: #fafafa;

      &::placeholder {
        color: #b9b9b9;
      }
    }
  }

  button {
    border: 0;
    padding: 0.2em 0.7em;
    background-color: #5983DA;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    .smoothly(background-color);

    &:hover {
      background-color: #4975cc;
    }
  }
}

.mono-hover:hover .mono-tooltip {
  opacity: 0.8;
}

.mono-tooltip {
  display: block;
  position: absolute;
  top: 3em;
  left: 7em;
  padding: 6px 12px;
  line-height: 20px;
  font-weight: 700;
  border: solid 1px rgb(200,200,200);
  background-color: rgb(255,255,255);
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  z-index: 15;
}

details {
  border: 0.25px solid;
  width: max-content;
  &[open] {
    border: unset;
    border-left: 0.25px solid;
  }
}

.node-details {
  display: none;
  margin-top: 4px;
  summary {
    padding: 4px 6px;
    cursor: pointer;
    opacity: 0.7;
    &:hover{opacity: 1;}
    font-weight: 700;
  }

  p {
    font-weight: 500;
    margin: 2px 0;
  }
}
.node-details--inner {
  padding: 0 6px;
  // > div {
  //   border-top: 1px solid #e6e5e5;
  //   margin-top: 4px;
  // }
}

.node-prevalence {
  padding-top: 8px;
  color: @midGrey;
  h4 {

    &+ p{margin-top: 6px;}
  }
  .node-prevalence-canvas {
    // width: 100%;
    width: 312px;
    height: 140px;
    border: 1px solid #f5f5f5;
    margin-top: 8px;
  }

}


.node-metadata {
  position: relative;
  color: @midGrey;
  .metadata--heading {
    //color: #9b9b9b;

    margin: 8px 0;
    font-weight: 700;
  }
  > div {
    margin: 0.2em 0;
    &.metadata--heading {
      margin: 0.4em 0;
    }
  }
  details {
    border: none;
    width: 100%;
  }
  details.disabled {
    .metadata--heading,
    .tip-counts {
      display: none;
    }
  }
  details:not(.disabled) summary {
    cursor: pointer;
    .noselect();
  }
  .current {
    //font-style: italic;
    font-weight: 900;
  }
}
.is-tip .estimated {
  display: none;
}
.md-info {
  position: absolute;
  right: 0;
  top: 0;
  &:hover {
    .md-info--detail {
      opacity: 0.95;
    }
  }
}
.md-info--detail {
  width: 15em;
  position: absolute;
  top: -16px;
  left: 20px;
  opacity: 0;
  pointer-events: none;
  .smoothly(opacity);
}
.node-metadata-item {
  .tip-counts {
    margin-bottom: 0.4em;
    > div {
      margin: 0.2em 0;
      padding-left: 6.5%;
      &.metadata--heading {
        margin: 0.4em 0;
      }
    }
  }
}
.pair--key-value {
  display: inline-flex;
  gap: 1em;
}
.pair--value-count {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.lineages--node-detail:not(.is-tip) .pair--key-value {
  padding-left: 2%;
}
.lineages--node-detail:not(.is-tip) {
  .pair--key-value .value {
    //font-style: italic;
    font-weight: 700;
  }
}
.is-tip {
  .node-details--inner {
    details,
    summary {
      display: block;
      cursor: auto;
    }
    canvas {
      display: none;
    }
    .pair--key-value .value,
    .pair--value-count .count {
      font-weight: 700;
    }
  }
}



#lineages--column-2 {
  //background-color: mint;
  flex: 1;
  overflow-y: auto;
  .customScroll();
  padding-right: 8px;
}


// ███╗   ██╗ ██████╗ ██████╗ ███████╗    ██╗     ██╗███████╗████████╗
// ████╗  ██║██╔═══██╗██╔══██╗██╔════╝    ██║     ██║██╔════╝╚══██╔══╝
// ██╔██╗ ██║██║   ██║██║  ██║█████╗      ██║     ██║███████╗   ██║
// ██║╚██╗██║██║   ██║██║  ██║██╔══╝      ██║     ██║╚════██║   ██║
// ██║ ╚████║╚██████╔╝██████╔╝███████╗    ███████╗██║███████║   ██║
// ╚═╝  ╚═══╝ ╚═════╝ ╚═════╝ ╚══════╝    ╚══════╝╚═╝╚══════╝   ╚═╝


#lineages--node-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--selections-gap);
}

.lineages--node-item {
  position: relative;
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 40px;
  padding: 0;
  border: solid var(--selection-stroke-weight) var(--selection-stroke-static);
  border-radius: var(--selection-corner);
  box-sizing: border-box;
  -webkit-transition: all var(--transition) ease-out;
  -moz-transition: all var(--transition) ease-out;
  -ms-transition: all var(--transition) ease-out;
  transition: all var(--transition) ease-out;

  background-color: var(--selection-fill-static);
  color: var(--selection-text-static);


  .node-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - var(--selection-remove-size));
    height: 100%;
    flex: 1 1 0%;
    gap: var(--selection-detail-gap);
    overflow: hidden;
  }


  .node-icon {
    flex-shrink: 0;
    position: relative;
    width: var(--selection-pin-width);
    height: var(--selection-pin-height);

    .shape {
      position: relative;
      top: var(--selection-pin-shape-position);
      left: var(--selection-pin-shape-position);
      width: var(--selection-pin-shape-size);
      height: var(--selection-pin-shape-size);
      box-sizing: border-box;
      transform: translate(-50%, -50%);
      border-radius: var(--selection-pin-shape-size);
      border: var(--selection-pin-shape-stroke-weight) solid;
    }
  }



  .node-name {
    font-weight: var(--selection-node-font-weight);
    font-size: var(--selection-node-font-size);
    line-height: var(--selection-node-line-height);
  }

  .node-stats, .tip-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: var(--Inter);
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.005rem;
    gap: var(--selection-tips-gap);
    white-space: nowrap;

    .node--tip-count, .node--confidence {
      font-weight: 800;
    }
  }


  .tip-id {
    font-weight: 800;
  }

  .node-dismiss {
    flex-shrink: 0;
    width: var(--selection-remove-size);
    height: var(--selection-remove-size);
    cursor: pointer;

    .box {
      width: 100%;
      height: 100%;
    }

    path {
      fill: var(--selection-static-icon-fill-static);
    }

    &:hover path{
      fill: var(--selection-on-icon-fill-on);
    }

  }


  &.active {
    display: flex;
  }

  &.lowlight {
    opacity: 0.3;
  }


  &.locked .node-dismiss {
    display: block;
  }

  &.matching {
    background-color: var(--selection-fill-on);
    color: var(--selection-text-on);
    border-color: var(--selection-stroke-on);
  }

  &.unmatching {
    opacity: var(--selection-unmatching-opacity);
  }


  &.root, &.mrca {
    .node-icon .shape {
      width: var(--selection-pin-shape-size-auto);
      height: var(--selection-pin-shape-size-auto);
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial
    }
  }

  &.root {
    .node-name {color: var(--selection-root-text-static);}
  	.node-icon .shape {
      background-color: var(--selection-root-fill-static);
    }
   }

  &.mrca {
    .node-name {color: var(--selection-mrca-text-static);}
  	.node-icon .shape {
      background-color: var(--selection-mrca-fill-static);
    }
   }


  &.nodeA {
    .node-name {color: var(--selection-a-text-static);}
  	.node-icon .shape {
      border-color: var(--selection-a-stroke-static);
      background-color: var(--selection-a-fill-static);
    }
   }

  &.nodeB {
    .node-name {color: var(--selection-b-text-static);}
  	.node-icon .shape {
      border-color: var(--selection-b-stroke-static);
      background-color: var(--selection-b-fill-static);
    }
   }


}



// ██████╗ ██████╗ ███████╗██╗   ██╗ █████╗ ██╗     ███████╗███╗   ██╗ ██████╗███████╗
// ██╔══██╗██╔══██╗██╔════╝██║   ██║██╔══██╗██║     ██╔════╝████╗  ██║██╔════╝██╔════╝
// ██████╔╝██████╔╝█████╗  ██║   ██║███████║██║     █████╗  ██╔██╗ ██║██║     █████╗
// ██╔═══╝ ██╔══██╗██╔══╝  ╚██╗ ██╔╝██╔══██║██║     ██╔══╝  ██║╚██╗██║██║     ██╔══╝
// ██║     ██║  ██║███████╗ ╚████╔╝ ██║  ██║███████╗███████╗██║ ╚████║╚██████╗███████╗
// ╚═╝     ╚═╝  ╚═╝╚══════╝  ╚═══╝  ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝  ╚═══╝ ╚═════╝╚══════╝











#lineages--prevalence {
  h3 {
    margin-bottom: 8px;
  }

  .chart {
    height: var(--lineages-prevalence-chart-height);
    width: 100%;

    .feature {
      height: var(--lineages-prevalence-chart-feature-height);
      z-index: var(--lineages-prevalence-chart-feature-zindex);
    }

    .axis.y {
      width: var(--lineages-chart-yaxis-width);
      height: 100%;
      z-index: 1;
      padding: var(--chart-stroke-weight) 0;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: transparent;
      box-sizing: border-box;
    }
  }

}


#lineages--prevalence--chart-container {
  height: 100%;
  flex: 1;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  gap: 0;
  padding: var(--chart-displays-timeline-inset-x);
  background-color: var(--chart-stroke);
  border-radius: var(--chart-outer-corner);
  box-sizing: border-box;
}

#lineages--prevalence--chart {
  width: 100%;
  border-radius: var(--chart-inner-corner);
  background: var(--view-fill);
  height: 100%;

  .shape {
    opacity: var(--lineages-prevalence-shape-opacity);
    stroke: none;
  }
  .trend {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: var(--lineages-prevalence-trend-stroke-weight);
    opacity: var(--lineages-prevalence-trend-opacity);
  }


  g {

    &.unmatching {
      opacity: var(--lineages-prevalence-group-unmatching-opacity);
    }


    &.root {
      .shape { fill: var(--root-timeline-fill); }
      .trend { stroke: var(--root-timeline-stroke); }
    }
    &.mrca {
      .shape { fill: var(--mrca-timeline-fill);}
      .trend { stroke: var(--mrca-timeline-stroke); }
    }
    &.nodeA {
      .shape  { fill: var(--a-timeline-fill);}
      .trend { stroke: var(--a-timeline-stroke); }
    }
    &.nodeB {
      .shape  { fill: var(--b-timeline-fill);}
      .trend { stroke: var(--b-timeline-stroke); }
    }
  }

  &.median .trend {
    stroke-width: var(--lineages-prevalence-mcc-trend-stroke-weight);
    stroke-dasharray: 0.75%;
    stroke-dashoffset: 0.75%;
    opacity: var(--lineages-prevalence-mcc-trend-opacity);
  }

}


// .lineages--prevalence--readout {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   background-color: rgba(255, 255, 255, 0.7);
//   padding: 10px;
//   pointer-events: none;
//   width: 180px;

//   .prevalence--date {
//     margin-bottom: 0.5em;
//     color: #777;
//   }

//   .value-label {
//     display: inline-block;
//     width: 4ch;
//   }

//   .series-label {
//     font-weight: 500;
//   }

//   .highlighted {
//     .series-label,
//     .value-label {
//       font-weight: 700;
//     }

//     .value {
//       font-weight: 700;
//     }
//   }

//   .dot {
//     position: absolute;
//     left: 0;
//     width: 5px;
//     height: 5px;
//     border-radius: 50%;
//     transform: translate(-50%, -50%);
//     pointer-events: none;
//   }
// }

#lineages--prevalence--date-labels {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  z-index: var(--lineages-prevalence-chart-support-zindex);


  .axis.x {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
}











// ███████╗ ██████╗██╗  ██╗███████╗███╗   ███╗ █████╗ ████████╗██╗ ██████╗
// ██╔════╝██╔════╝██║  ██║██╔════╝████╗ ████║██╔══██╗╚══██╔══╝██║██╔════╝
// ███████╗██║     ███████║█████╗  ██╔████╔██║███████║   ██║   ██║██║
// ╚════██║██║     ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══██║   ██║   ██║██║
// ███████║╚██████╗██║  ██║███████╗██║ ╚═╝ ██║██║  ██║   ██║   ██║╚██████╗
// ╚══════╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝



#lineages--node-layout {

}



/* LINEAGES / Subway diagram */

#subway {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: auto;
  height: var(--subway-height);
  overflow: visible;
  margin-left: var(--subway-margin-left);
  margin-right: var(--subway-margin-right);
  transform: translateY(var(--subway-offset-y));

  &[data-config="root"], &[data-config="a"], &[data-config="b"] {
    .upper, .lower {display: none;}
    .line2 {
      opacity: 0;
      pointer-events: none;
    }
  }

  &[data-config="a2b"], &[data-config="b2a"] {
    .upper, .lower {display: none;}
  }

  &[data-config="mrca"], &[data-config="ab"], &[data-config="ba"] {
    .end {display: none;}
  }


  .lines {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

  .line {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--subway-line-height);
    padding: var(--subway-line-padding-y) var(--subway-line-padding-x);
    &.unmatching{
      .terminus {color: rgb(from var(--node-text) r g b / var(--subway-line-unmatching-opacity));}
      .platform { background-color: var(--node-stroke-off); }
      .station.active .platform {background-color: var(--node-stroke-off)}
      .signage {opacity: var(--subway-line-unmatching-opacity)}
    }
  }

  .transit {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .stations, .signage {
    height: var(--subway-row-height);
  }

  .track {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: var(--subway-track-offset-y);
    border-top: var(--subway-track-stroke-weight) solid;
    border-left: var(--subway-track-stroke-weight) solid;
    border-radius: var(--subway-track-corner) 0 0 0;
    height: var(--subway-track-height);
    border-color: var(--node-stroke);
    -webkit-transition: all var(--transition) ease-out;
    -moz-transition: all var(--transition) ease-out;
    -ms-transition: all var(--transition) ease-out;
    transition: all var(--transition) ease-out;
    pointer-events: none;
    &.unmatching {
      border-color: var(--node-stroke-off);
    }
  }

  .line[data-track="center"] .track {
    border-left: 0;
    border-radius: 0;
    height: 0;
  }

  .line[data-track="down"] .track {
    transform: scaleY(-1) translateY(var(--subway-track-height));
  }

  .stations {
    position: relative;
    z-index: var(--subway-stations-zindex);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    width: auto;
    max-width: 100%;
    margin: var(--subway-stations-margin-top) auto 0;
  }

  .station {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--subway-station-width);
    height: 100%;
    overflow: visible;
    box-sizing: border-box;
    cursor: default;

    &.matching {
      .platform {
        opacity: 1;
        width: var(--subway-platform-width-on);
        height: var(--subway-platform-height-on);
        .passenger {
          opacity: 1;
        }
      }
    }

    &.inactive .platform {
      opacity: 1;
      width: var(--subway-platform-width-present);
      height: var(--subway-platform-height-present);
    }

    &.active .platform {
      opacity: 1;
      width: var(--subway-platform-width-matched);
      height: var(--subway-platform-height-matched);
      background-color: var(--node-stroke-on);
    }

    // &:hover {
    //   .platform { background-color: var(--node-stroke-on); }
    // }
  }

  .platform {
    position: absolute;
    width: var(--subway-platform-width-static);
    height: var(--subway-platform-height-static);
    pointer-events: none;
    background-color: var(--node-stroke);
    -webkit-transition: opacity var(--transition) ease-out;
    -moz-transition: opacity var(--transition) ease-out;
    -ms-transition: opacity var(--transition) ease-out;
    transition: opacity var(--transition) ease-out;
  }

  .passenger {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: var(--subway-location-gap);
    left: 50%;
    bottom: 100%;
    font-family: var(--Inter);
    font-weight: 700;
    font-size: calc(var(--unit) * 0.75);
    transform: translate(-50%, var(--subway-location-offset-y));
    color: var(--node-mutation-text);
    opacity: 0;
    .train {
      font-variant-numeric: tabular-nums;
      color: var(--node-position-text);
    }
  }


  .signage {
    font-family: var(--Inter);
    font-weight: 600;
    font-size: calc(var(--unit) * 0.875);
    line-height: unset;
    letter-spacing: 0.001rem;
    cursor: default;
    color: var(--node-text);
    -webkit-transition: all var(--transition) ease-out;
    -moz-transition: all var(--transition) ease-out;
    -ms-transition: all var(--transition) ease-out;
    transition: all var(--transition) ease-out;
  }

  .termini {
    position: absolute;
    z-index: var(--subway-termini-zindex);
    top: 50%;
    left: 50%;
    width: 100%;
    height: var(--subway-termini-height);
    transform: translate(-50%, -50%);
    overflow: visible;
  }

  .terminus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: var(--subway-terminus-height);
    padding: var(--subway-terminus-padding-y) var(--subway-terminus-padding-x);
    white-space: nowrap;
    background-color: var(--view-fill);
    font-weight: var(--lineage-label-font-weight);
    font-size: var(--lineage-label-font-size);
    letter-spacing: var(--lineage-label-letter-spacing);
    line-height: unset;
    cursor: default;
    color: var(--node-text);
    -webkit-transition: all var(--transition) ease-out;
    -moz-transition: all var(--transition) ease-out;
    -ms-transition: all var(--transition) ease-out;
    transition: all var(--transition) ease-out;
    &.enter, &.exit {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.enter {
      left: 0;
    }

    &.exit {
      left: 100%;
    }
  }


  .line[data-from="-"] .terminus.enter:after,
  .line[data-to="-"] .terminus.exit:after {
    content: "";
    position: relative;
    width: var(--subway-unknown-terminus-size);
    height: var(--subway-unknown-terminus-size);
    border-radius: var(--subway-unknown-terminus-size);
    background-color: var(--node-text);
    vertical-align: baseline;

    &.unmatching {
      background-color: rgb(from var(--node-text) r g b / var(--subway-line-unmatching-opacity));
    }
  }


  .line[data-from="root"] {
    .track {border-color: var(--root-stroke)}
    .platform {background-color: var(--root-stroke)}
    .signage {color: var(--root-text)}
    .terminus.enter {color: var(--root-text)}
    .passenger {color: var(--root-mutation-text)}
    .passenger .train {color: var(--root-position-text)}
    .station {
      &:hover, &.active {
        .platform {background-color: var(--root-stroke-on)}
      }
    }
    &.unmatching {
      .track {border-color: var(--root-stroke-off)}
      .terminus.enter {color: rgb(from var(--root-text) r g b / var(--subway-line-unmatching-opacity))}
      .transit {
        .platform {background-color: var(--root-stroke-off)}
        .station.active .platform {background-color: var(--root-stroke-off)}
      }
    }
  }

  .line[data-to="mrca"] {
    .track      {border-color: var(--mrca-stroke)}
    .platform      {background-color: var(--mrca-stroke)}
    .signage      {color: var(--mrca-text)}
    .terminus.exit       {color: var(--mrca-text)}
    .passenger      {color: var(--mrca-mutation-text)}
    .passenger .train      {color: var(--mrca-position-text)}
    .station {
      &:hover, &.active {
        .platform {background-color: var(--mrca-stroke-on)}
      }
    }
    &.unmatching {
      .track      {border-color: var(--mrca-stroke-off)}
      .terminus.exit       {color: rgb(from var(--mrca-text) r g b / var(--subway-line-unmatching-opacity))}
      .transit {
        .platform      {background-color: var(--mrca-stroke-off)}
        .station.active .platform      {background-color: var(--mrca-stroke-off)}
      }
    }

    .terminus.exit    {
      color: var(--mrca-text);
      &.unmatching {
        color: rgb(from var(--mrca-text) r g b / var(--subway-line-unmatching-opacity));
      }
    }
  }

  .line[data-to="a"] {
    .track      {border-color: var(--a-stroke)}
    .platform      {background-color: var(--a-stroke)}
    .signage      {color: var(--a-text)}
    .terminus.exit       {color: var(--a-text)}
    .passenger      {color: var(--a-mutation-text)}
    .passenger .train      {color: var(--a-position-text)}
    .station {
      &:hover, &.active {
        .platform {background-color: var(--a-stroke-on)}
      }
    }
    &.unmatching {
      .track      {border-color: var(--a-stroke-off)}
      .terminus.exit       {color: rgb(from var(--a-text) r g b / var(--subway-line-unmatching-opacity))}
      .transit {
        .platform      {background-color: var(--a-stroke-off)}
        .station.active .platform      {background-color: var(--a-stroke-off)}
      }
    }
  }

  .line[data-to="b"] {
    .track      {border-color: var(--b-stroke)}
    .platform      {background-color: var(--b-stroke)}
    .signage      {color: var(--b-text)}
    .terminus.exit       {color: var(--b-text)}
    .passenger      {color: var(--b-mutation-text)}
    .passenger .train      {color: var(--b-position-text)}
    .station{
      &:hover, &.active {
        .platform {background-color: var(--b-stroke-on)}
      }
    }
    &.unmatching {
      .track      {border-color: var(--b-stroke-off)}
      .terminus.exit       {color: rgb(from var(--b-text) r g b / var(--subway-line-unmatching-opacity))}
      .transit {
        .platform      {background-color: var(--b-stroke-off)}
        .station.active .platform      {background-color: var(--b-stroke-off)}
      }
    }
  }
}





// ████████╗██╗███╗   ███╗███████╗██╗     ██╗███╗   ██╗███████╗███████╗
// ╚══██╔══╝██║████╗ ████║██╔════╝██║     ██║████╗  ██║██╔════╝██╔════╝
//    ██║   ██║██╔████╔██║█████╗  ██║     ██║██╔██╗ ██║█████╗  ███████╗
//    ██║   ██║██║╚██╔╝██║██╔══╝  ██║     ██║██║╚██╗██║██╔══╝  ╚════██║
//    ██║   ██║██║ ╚═╝ ██║███████╗███████╗██║██║ ╚████║███████╗███████║
//    ╚═╝   ╚═╝╚═╝     ╚═╝╚══════╝╚══════╝╚═╝╚═╝  ╚═══╝╚══════╝╚══════╝


#lineages--node-timelines {


  .chart {
    .displays {
      flex: 1;
      padding-top: 0;
      padding-bottom: 0;
      background-color: transparent;
      height: var(--lineages-emergence-timeline-height);
    }


    .axis.x {
      position: relative;

      .tag {
        position: absolute;
        top: 0;
        opacity: var(--lineages-tag-opacity);
        width: 50px;
        margin-left: -30px;
        text-align: center;


        &.matching {
          // opacity: var(--lineages-tag-opacity);
          &.active     {opacity: var(--lineages-tag-active-opacity);}
          &.inactive   {opacity: var(--lineages-tag-semiactive-opacity);}
        }

        &.unmatching {
          opacity: var(--lineages-tag-semiactive-opacity);
          &.active   {opacity: var(--lineages-tag-active-opacity);}
          &.inactive {opacity: var(--lineages-tag-inactive-opacity);}
        }

        &.active {
          opacity: var(--lineages-tag-active-opacity);
        }

        &.inactive {
          opacity: var(--lineages-tag-inactive-opacity);
        }


      }
    }

    .axis.y {
      width: var(--lineages-chart-yaxis-width);

      .values {
        align-items: flex-start;
      }

      .text {
        z-index: 1;
        background-color: var(--view-fill);
        padding: 2px 4px 2px 0;
        white-space: nowrap;
      }
      .tick {
        display: none;
      }
    }


    .display {
      width: 100%;
      border-radius: var(--chart-inner-corner);
      background: var(--view-fill);

      .timeline {
        position: absolute;
        height: 100%;
        align-items: flex-end;
        pointer-events: none; // let events pass through to the SVG chart

        .label {
          position: absolute;
          &.active     {opacity: var(--lineages-timeline-active-label-opacity);}
          &.inactive   {opacity: var(--lineages-timeline-inactive-label-opacity);}
          &.unmatching {opacity: var(--lineages-timeline-semiactive-label-opacity);}
        }
      }
    }


    .tracker {
      position: absolute;
      top: 0;
      width: var(--guide-date-stroke-weight);
      height: 100%;
      border-radius: var(--guide-date-stroke-weight);
      background-color: var(--guide-date-stroke);
      opacity: 0;
      transform: translateX(-50%);

      &.active {
        opacity: var(--guide-date-opacity);
      }

    }

    #lineages-nt-root-date-label {color: var(--root-timeline-text)}
    #lineages-nt-mrca-date-label {color: var(--mrca-timeline-text)}
    #lineages-nt-a-date-label    {color: var(--a-timeline-text)}
    #lineages-nt-b-date-label    {color: var(--b-timeline-text)}
    #lineages-nt-root-label      {color: var(--root-text)}
    #lineages-nt-mrca-label      {color: var(--mrca-text)}
    #lineages-nt-a-label         {color: var(--a-text)}
    #lineages-nt-b-label         {color: var(--b-text)}

  }

  h1 {
    //color: rgb(142, 142, 142);
    //font-weight: 700;
    font-weight: bold; //normal;
    margin-bottom: 0.5em;
  }

  .lineages--node-overlap-item {
    display: block;
    font-size: 12px;
    color: @midGrey;
    font-weight: 500;
    line-height: 1.25em;
    margin-top: 6px;

    .root-message {
      display: none;
    }


    &.is-root {
      display: block;
      // font-size: 12px;
      // color: @midGrey;
      // font-weight: normal;
      // line-height: 1.1em;
      .non-root-message {display: none;}
      .root-message {display: inline;}
    }

    .lnoi-1, .lnoi-2 {font-weight: 700;}

  }


  .series-group-container {

    .series.group.tip {
      path {display: none;}
      line {opacity: var(--guide-range-date-opacity);}
    }

  }
}



.series-group-container {

  * { transition: all var(--transition) ease-out; }

  .series.group.matching {
    path {
      opacity: var(--lineages-timeline-active-dist-opacity);
    }
  }


  path {
    opacity: var(--lineages-emergence-dist-opacity);
    stroke: none;
  }

  line {
    opacity: var(--lineages-timeline-pointer-opacity);
    fill: none;
  }

  .root {
    path { fill: var(--root-timeline-fill); }
    line { stroke: var(--root-timeline-stroke); }
  }
  .mrca {
    path { fill: var(--mrca-timeline-fill); }
    line { stroke: var(--mrca-timeline-stroke); }
  }
  .nodeA {
    path { fill: var(--a-timeline-fill); }
    line { stroke: var(--a-timeline-stroke); }
  }
  .nodeB {
    path { fill: var(--b-timeline-fill); }
    line { stroke: var(--b-timeline-stroke); }
  }
}







.lineages--time-chart,
.lineages--node-comparison--time-chart {
  height: 60px;
  // padding-left: @chartLeftMargin;

  canvas {
    width: 100%;
    height: 100%;
  }
}





// ███╗   ███╗██╗   ██╗████████╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗███████╗
// ████╗ ████║██║   ██║╚══██╔══╝██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
// ██╔████╔██║██║   ██║   ██║   ███████║   ██║   ██║██║   ██║██╔██╗ ██║███████╗
// ██║╚██╔╝██║██║   ██║   ██║   ██╔══██║   ██║   ██║██║   ██║██║╚██╗██║╚════██║
// ██║ ╚═╝ ██║╚██████╔╝   ██║   ██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║███████║
// ╚═╝     ╚═╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝



#lineages--list {
  /* temporary */
  max-height: 300px;
  overflow-y: scroll;
  /* end temporary */

  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--duo-list-gap);
  width: 100%;
  align-items: flex-end;


  .left {
    justify-content: space-between;
    align-items: flex-end;
    flex: unset;
    width: var(--duo-left-width);
  }

  .right {
    flex: 1;
  }


  [data-to="mrca"] {
    color: var(--mrca-mutation-text);
    .header .title h4 {color: var(--mrca-mutation-text);}
    .mutation {color: var(--mrca-mutation-text);}
    .mutation .site {color: var(--mrca-position-text);}
    .range .guide.date.start {background-color: var(--mrca-timeline-stroke);}
    .timeline .dummy .dist {fill: var(--mrca-timeline-fill);}
    .timeline .dummy .pointer {stroke: var(--mrca-timeline-stroke);}
  }

  [data-to="a"] {
    color: var(--a-mutation-text);
    .header .title h4      {color: var(--a-mutation-text)}
    .mutation      {color: var(--a-mutation-text)}
    .mutation .site      {color: var(--a-position-text)}
    .range .guide.date.end    {background-color: var(--a-timeline-stroke)}
    .timeline .dummy .dist {fill: var(--a-timeline-fill)}
    .timeline .dummy .pointer {stroke: var(--a-timeline-stroke)}
  }

  [data-to="b"] {
    color: var(--b-mutation-text);
  .header .title h4      {color: var(--b-mutation-text)}
  .mutation      {color: var(--b-mutation-text)}
  .mutation .site      {color: var(--b-position-text)}
  .range .guide.date.end    {background-color: var(--b-timeline-stroke)}
  .timeline .dummy .dist {fill: var(--b-timeline-fill)}
  .timeline .dummy .pointer {stroke: var(--b-timeline-stroke)}
  }

  [data-from="mrca"] .range .guide.date.start {background-color: var(--mrca-timeline-stroke)}
  [data-from="a"] .range .guide.date.start    {background-color: var(--a-timeline-stroke)}
  [data-from="b"] .range .guide.date.start    {background-color: var(--b-timeline-stroke)}
  [data-to="mrca"] .range .guide.date.end {background-color: var(--mrca-timeline-stroke)}

  .mutation {
    color: var(--node-mutation-text);
    opacity: var(--lineages-mutation-opacity);
    .site {
      color: var(--node-position-text);
    }

    &.active   {opacity: var(--lineages-mutation-active-opacity)}
    &.inactive {opacity: var(--lineages-mutation-inactive-opacity)}
  }

  .timeline {
    .label          {opacity: var(--lineages-timeline-label-opacity)}
    .guide          {opacity: var(--lineages-timeline-guide-opacity)}
    .label[data-lineage="root"] {color: var(--root-timeline-text)}
    .label[data-lineage="mrca"] {color: var(--mrca-timeline-text)}
    .label[data-lineage="a"] {color: var(--a-timeline-text)}
    .label[data-lineage="b"] {color: var(--b-timeline-text)}
    &.active {
      .label   {opacity: var(--lineages-timeline-active-label-opacity)}
      .guide   {opacity: var(--lineages-timeline-active-guide-opacity)}
    }
    &.inactive {
      .label {opacity: var(--lineages-timeline-inactive-label-opacity)}
      .guide {opacity: var(--lineages-timeline-inactive-guide-opacity)}
    }
  }

  .duo {
    .unmatching {opacity: var(--lineages-list-unmatching-opacity)}

    .matching {
      .timeline .guide {opacity: var(--lineages-timeline-semiactive-guide-opacity)}

      .unmatching {
        .mutation, .timeline {
          opacity: var(--lineages-list-semimatching-opacity);
        }
      }
    }
  }


}

#lineages--track-mutations-container {
  width: 100%;
}

#list--titles {
  padding: var(--duo-list-connector-height) 0;

}


.lineages--track-mutations {

  transition: all 0.15s;


  // .lineages--node-overlap-item {
  //   display: block;
  //   font-size: 12px;
  //   color: @midGrey;
  //   font-weight: 500;
  //   line-height: 1.25em;
  //   margin-top: 6px;

  //   .root-message {
  //     display: none;
  //   }


  //   &.is-root {
  //     display: block;
  //     // font-size: 12px;
  //     // color: @midGrey;
  //     // font-weight: normal;
  //     // line-height: 1.1em;
  //     .non-root-message {display: none;}
  //     .root-message {display: inline;}
  //   }

  //   .lnoi-1, .lnoi-2 {font-weight: 700;}

  // }

  // &.single {
  //   .lineages--node-comparison--descendant-node,
  //   .lineages--node-comparison--descendant-connector,
  //   .lineages--node-comparison--mutation-header,
  //   .lineages--node-overlap-item {
  //     display: none;
  //   }
  // }


  .header {
    .schematic {
      min-width: var(--duo-list-duo-left-header-schematic-width);
      max-width: var(--duo-list-duo-left-header-schematic-width);
      height: var(--duo-list-duo-left-header-schematic-height);
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0;
      overflow: visible;

      .division {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        height: 100%;
        overflow: visible;
      }


      .segment {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        overflow: visible;
        opacity: var(--schematic-segment-unmatching-opacity);
      }

      .trail {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .segment[data-trail="center"] .trail {
        height: 0;
        border-top: var(--schematic-stroke-weight-static) solid;
        border-left: none;
        border-right: none;
        border-bottom: none;
      }

      .segment[data-trail="up"] .trail {
        border-top: var(--schematic-stroke-weight-static) solid;
        border-left: var(--schematic-stroke-weight-static) solid;
        border-right: none;
        border-bottom: none;
        border-radius: var(--schematic-corner) 0 0 0;
      }

      .segment[data-trail="down"] .trail {
        border-top: none;
        border-left: var(--schematic-stroke-weight-static) solid;
        border-right: none;
        border-bottom: var(--schematic-stroke-weight-static) solid;
        border-radius: 0 0 0 var(--schematic-corner);
      }

      .point {
        position: absolute;
        width: var(--schematic-point-size-static);
        height: var(--schematic-point-size-static);
        border-radius: var(--schematic-point-size-static);
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        &.from {left: 0}
        &.to {left: 100%}
      }

      .segment[data-trail="up"] {
        .point.from {top: 100%}
        .point.to {top: 0}
      }
      .segment[data-trail="center"] {
        .point.from {top: 50%}
        .point.to {top: 50%}
      }
      .segment[data-trail="down"]   {
        .point.from {top: 0}
        .point.to {top: 100%}
      }

      .segment[data-to="mrca"] {
        .trail {border-color: var(--mrca-stroke);}
        .point {background-color: var(--root-stroke)}
      }
      .segment[data-to="a"] {
        .trail      {border-color: var(--a-stroke)}
        .point      {background-color: var(--a-stroke)}
      }
      .segment[data-to="b"] {
        .trail      {border-color: var(--b-stroke)}
        .point      {background-color: var(--b-stroke)}
      }
    }
  }



  &[data-to="mrca"] .schematic .segment[data-to="mrca"] .point.to {
    background-color: var(--mrca-fill);
    border-color: var(--mrca-stroke);
  }

  &[data-to="mrca"] .schematic .segment[data-to="mrca"] {
    .point.to {
      width: var(--schematic-point-size-on);
      height: var(--schematic-point-size-on);
      border-radius: var(--schematic-point-size-on);
      background-color: var(--mrca-stroke);
      border: none;
    }
  }
  &[data-to="a"] .schematic .segment[data-to="a"] {
    .point.to {
      background-color: var(--a-fill);
      border-color: var(--a-stroke);
    }
  }
  &[data-to="b"] .schematic .segment[data-to="b"] {
    .point.to {
      background-color: var(--b-fill);
      border-color: var(--b-stroke);
    }
  }

  &[data-to="mrca"] .schematic .segment[data-to="mrca"],
  &[data-to="a"] .schematic .segment[data-to="a"],
  &[data-to="b"] .schematic .segment[data-to="b"] {
    opacity: 1;
    z-index: 1;
    .point.to {
      width: var(--schematic-point-size-on-destination);
      height: var(--schematic-point-size-on-destination);
      border: var(--schematic-stroke-weight-static) solid;
      border-radius: var(--schematic-point-size-on-destination);
    }
  }

  &.unmatching {
    opacity: var(--lineages-list-unmatching-opacity);
  }

}

.lineages--mutation-timeline {
  gap: unset;
}

.lineages--node-comparison--mutation-header {

}

.lineages--node-comparison--mutation-count {
  font-weight: bolder;
}

.lineages--mutation-timeline .date-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 0 0 calc(var(--block-gap) + var(--mutation-emergence-mutation-width));
  // pointer-events: none;
  z-index: 1;

  .hover {
    opacity: 0;
    &.active {
      opacity: var(--date-reference-line-opacity);
    }
  }

}

.lineages--node-comparison--mutation {
  display: flex;
  height: var(--duo-list-row-height);
  gap: var(--block-gap);

  + .lineages--node-comparison--mutation {
    margin-top: 0.5em;
  }

  &.is-apobec .lineages--node-comparison--mutation-is-apobec {
    display: inline-block;
  }
}

.lineages--node-comparison--mutation-labels {
  // width: @chartLeftMargin;
  font-size: smaller;
}
.lineages--node-comparison--mutation-name {
  color: black;
  margin: 0;
  text-decoration: none;
}

.lineages--node-comparison--mutation-is-apobec {
  display: none;
  font-family: MDSystemNarrow, RobotoCondensed, sans-serif;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 10px;
  color: #777;
}


.lineages--node-comparison--mutation-prevalence {
  display: none;
  margin: 0;
  font-size: smaller;
  span {font-weight: bolder;}
  color: rgb(161, 161, 161);
}

.lineages--mutation-time-chart-container {
  width: 100%;
  height: 100%;
}

.lineages--mutation-time-chart {
  width: 100%;
  height: 100%;
}

.lineages--node-comparison--time-chart,
.lineages--mutation-time-chart-container {
  position: relative;

  .time-chart--readout {
    position: absolute;
    z-index: 1;
    top: unset;
    bottom: 0;
    left: var(--start-pct);
    width: auto;
    height: auto;
    font-family: var(--Inter);
    font-weight: 600;
    font-size: calc(var(--unit) * 0.75);
    letter-spacing: 0.00625rem;
    padding: 0 0 0 3px;
    pointer-events: none;

    .time-chart--series {
      display: none;
    }
  }
}

.lineages--node-comparison--time-chart {
  .time-chart--readout {
    // transform: translate(@chartLeftMargin, 0);
    // transform: translate(@chartLeftMargin, 100%);
  }
}


  /*
  color the mrca nodes by the root, since it is not inferred
  */

  .lineages--track-mutations[data-to="mrca"] {
    path { fill: var(--mrca-timeline-fill); }
    line { stroke: var(--mrca-timeline-stroke); }
    .lineages--node-comparison--mutation-name {
      color: var(--mrca-mutation-text);
      .site {
        color : var(--mrca-position-text);
      }
    }
  }

  .lineages--track-mutations[data-to="a"] {
    path { fill: var(--a-timeline-fill); }
    line { stroke: var(--a-timeline-stroke); }
    .lineages--node-comparison--mutation-name {
      color: var(--a-mutation-text);
      .site {
        color : var(--a-position-text);
      }
    }
  }

  .lineages--track-mutations[data-to="b"] {
    path { fill: var(--b-timeline-fill); }
    line { stroke: var(--b-timeline-stroke); }
    .lineages--node-comparison--mutation-name {
      color: var(--b-mutation-text);
      .site {
        color : var(--b-position-text);
      }
    }
  }


