@import "./common.less";
@import "./fonts.less";
@import "./uploader.less";
@import "./nav.less";
@import "./header.less";
@import "./runner.less";
@import "./lineages.less";
@import "./mutations.less";
@import "./customize.less";
@import "./mccoptlist.less";
@import "./info.less";
@import "./qc.less";
@import "./about.less";
@import "./chart.less";


////////////////////////////////////////////
// PAGE
////////////////////////////////////////////

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // box-sizing: border-box;
  --Inter: 'Inter', 'Helvetica', sans-serif;
  --Inter-Tight: 'Inter Tight', 'Inter', 'Helvetica', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}


// button,
// [type="button"],
// [type="reset"],
// [type="submit"] {
//   -webkit-appearance: button;
// }

.box {
  position: relative;
  width: 100%;
  height: 100%;
}

.glyph {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: fade(black, 50%);
}

////////////////////////////////////////////
// TYPOGRAPHY
////////////////////////////////////////////

body {
  // font-family: MDSystem, Roboto, sans-serif;
  // font-weight: 500;
  // font-size: 1rem;
}

.digit {
  .digit();
}

h1, h2, h3, h4, h5, h6 {
  margin: unset;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

a {
  color: var(--intro-link-text-static);;
  &:visited {
    color: var(--intro-link-text-static);;
  }
}


main {
  position: sticky;
  top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}





canvas {
  width: 100%;
  height: 100%;
}

////////////////////////////////////////////
// VIEWS
////////////////////////////////////////////

.view {
  display: none;
  flex-direction: column;
  gap: var(--view-margin-y);
  // gap: var(--view-gap);
  min-width: var(--view-min-width);
  // max-width: var(--view-max-width);
  height: 100%;

  .main-content {
    margin : 0 var(--view-margin-x) var(--view-margin-y);
    // width: 100%;
    height: calc(100% - var(--view-margin-y) - 85px);
    font-size: calc(var(--unit) * 1.25);
    line-height: calc(var(--unit) * 1.5);
    color: var(--view-text);
    background-color: transparent;

    .header {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      gap: var(--view-header-gap);
      min-height: var(--view-header-height);
      max-height: var(--view-header-height);
      overflow: visible;

      .title {
        flex-shrink: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: var(--info-margin);
        height: 100%;
        white-space: nowrap;
        overflow: visible;
      }

      h3.title, .title h3,
      h4.title, .title h4,
      .toggles h3,
      .toggles h4 {
        display: inline-block;
        width: auto;
        max-width: 100%;
        color: var(--title-text);
        overflow: visible;
        white-space: nowrap;
        text-overflow: ellipsis;
      }


      h3.title, .title h3 {
        font-weight: var(--title-font-weight);
        font-size: var(--title-font-size);
        line-height: var(--title-line-height);
      }


      h4.title, .title h4 {
        font-weight: var(--element-title-font-weight);
        font-size: var(--element-title-font-size);
        line-height: var(--element-title-line-height);
      }

      .toggles {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 4px;
        height: auto;

        h4 {
          font-size: var(--element-title-font-size);
          line-height: var(--element-title-line-height);
          font-weight: var(--element-title-sub-font-weight);
          display: inline-block;
          width: auto;
          max-width: 100%;
          color: var(--title-text);
          overflow: visible;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        &.mode {
          flex: 1;
          padding-left: calc(var(--view-header-gap) * 0.375);
        }
      }

      .toggle {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        padding: 1px 5px 2px;
        border-radius: 1px;
        background-color: var(--view-fill);
        opacity: 0.25;
        cursor: pointer;
        overflow: visible;
        transition: all var(--transition) ease-out;
        -webkit-user-select: none;
        user-select: none;

        input {
          width: 0;
          position: absolute;
          opacity: 0;
        }

        &:has(input:checked) {
          background-color: var(--header-fill);
          opacity: 1;
        }
      }
    }
  }


  &.active {
    display: flex;
  }

  &.summarizing {
    background-color: pink;
  }
}


.displaying-import-view #uploader,
.displaying-export-view #exporter {
  display: flex;
}

.displaying-import-view {
  nav {display: none}
  #runner, #explore, #settings, #exporter {display: none}
}



.save-file-version.mismatch {
  color: rgb(200,50,55);
}


//——————————————————————————————————————————
// runner / controls

.elements {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

// .controls {.t20()}



.readout {
  display: flex;
  flex-direction: row;
}

//——————————————————————————————————————————
// runner / trees

.tree-header {
  padding-left: 25px;
  white-space: nowrap;
  overflow-x: visible;
}

.tree-canvas {
  width: 100%;
  aspect-ratio: 0.7;
}


.mcc_highlight {
  position: absolute;
  left: 0;
  pointer-events: none;
  width: 100%;
  aspect-ratio: 0.7;
}


.tree-container {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  gap: 0;
  position: relative;
  background-color: var(--tree-fill);
  border: var(--tree-stroke-weight) solid var(--tree-stroke);
  border-radius: var(--corner);
  overflow: hidden;

  position: relative;
  padding: var(--tree-inset) var(--tree-inset) var(--tree-inset-bottom);
  box-sizing: content-box;

  .dates {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    box-sizing: border-box;
    pointer-events: none;
    margin: 0 20px;
    z-index: 1;

    .date {
      position: absolute;
      width: min-content;
      height: 100%;
      pointer-events: none;
      font-family: var(--Inter-Tight);
      font-variant-numeric: tabular-nums;

      .line {
        position: absolute;
        left: 50%;
        right: unset;
        transform: translateX(-50%);

        top: unset;
        bottom: 0;
        width: var(--position-line-stroke-weight);
        height: var(--date-marker-line-height);
        background-color: var(--date-line-stroke);
        opacity: var(--date-line-opacity);
      }

      .text {
        position: absolute;
        left: 50%;
        right: unset;
        transform: translateX(-50%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--date-text-gap);
        top: 100%;
        margin-top: var(--date-text-offset);
        height: var(--date-text-height);
        font-weight: var(--date-text-font-weight);
        font-size: var(--date-text-font-size);
        line-height: var(--date-text-line-height);
        color: var(--date-text);
        opacity: 1;
        transition: opacity var(--axis-transition) ease-out;

        .cal {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;
          white-space: nowrap;
        }
      }


      &.reference {
        .line {
          opacity: var(--date-reference-line-opacity);
          height: var(--date-line-height);
        }
        .text {
          color: var(--date-reference-text);
        }
        &.off {
          .text {
            opacity: 0;
          }
        }
      }

      &.hover {
        pointer-events: none;
        opacity: 0;
        .line { height: var(--date-line-height); }
        .line, .text {
          pointer-events: none;
        }
        &.active {
          opacity: 1;
        }
      }

      &.marker {
        .line {
          height: var(--date-marker-line-height);
        }
      }
    }
  }

}

.tree-canvas-container {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: center;
  gap: 0;
  overflow: visible;

}


.controls-position {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--controls-position-gap);


  &.anchor-center {
    top: 50%;
    transform: translateY(calc(-50% - var(--tree-inset)));
    bottom: unset;
  }
  &.anchor-left {
    left: 0;
    align-items: flex-start;

    .control {
      justify-content: flex-start;
      margin-right: auto;

      &:hover .label {
        padding-right: var(--control-padding);
      }
    }
  }
}

.controls {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--controls-gap);
  margin: 0;

  &.multiple {
    .control {
      border-radius: 0;
      &:first-child {
        border-radius: var(--corner) var(--corner) 0 0;
        &:hover {
          border-radius: var(--corner) var(--corner) var(--corner) 0;
        }
      }
      &:last-child {
        border-radius: 0 0 var(--corner) var(--corner);
        &:hover {
          border-radius: 0 var(--corner) var(--corner) var(--corner);
        }
      }
    }
  }
}


.control {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  min-width: var(--control-size);
  height: var(--control-size);
  outline: none;
  border-radius: var(--corner);
  border: var(--control-stroke-weight) solid var(--control-stroke-static);
  box-sizing: content-box;
  background-color: var(--control-fill-static);
  overflow: hidden;
  transition: all var(--transition) ease-in-out;

  .icon {
    width: var(--control-size);
    height: var(--control-size);
    path {
      fill: var(--control-icon-static);
      stroke: var(--control-icon-static);
      stroke-width: 0.25;
      stroke-linecap: round;
      transition: all var(--transition) ease-in-out;
    }
  }

  .label {
    width: 0;
    overflow: hidden;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: calc(var(--unit) * 0.875);
    line-height: var(--unit);
    color: var(--control-text-static);
    padding: 0;
    white-space: nowrap;
    transition: all var(--transition) ease-in-out;
  }

  &:hover {
    border-color: var(--control-stroke-on);
    background-color: var(--control-fill-on);
    z-index: 1;

    .label {
      color: var(--control-text-on);
      width: min-content;
    }
  }
}



.single .plural { display: none; }

////////////////////////////////////////////
// SETTINGS
////////////////////////////////////////////

.displaying-settings {
  // background-color: @settings;
}

////////////////////////////////////////////
// EXPORTER
////////////////////////////////////////////

.displaying-export-view {
  // background-color: @exporter;
}




#summary-loading-scrim {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  z-index: 30;
  .smoothly(opacity);
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.summarizing {
  #summary-loading-scrim {
    opacity: 1;
    cursor: wait;
    pointer-events: all;
  }

  #customize {
    pointer-events: none;
  }
}

////////////////////////////////////////////
// PRIVACY, TOS
////////////////////////////////////////////

#privacy,
#tos {
  display: block;
  max-width: 800px;
  margin: 12px auto;
  padding: 0 10px;
  // background-color: @soft-gray;
  overflow: visible;
  height: unset;

  h1 {
    .t40();
  }

  h2 {
    .t30();
  }

  h3 {
    // .t20();
  }

  nav {
    all: unset;
    display: block;
    margin-bottom: 50px;

    &::before {
      all: unset;
    }

    &::after {
      all: unset;
    }
  }

  table {
    border-collapse: collapse;

    thead {
      text-align: left;
      border-bottom: 1px solid currentColor;
    }

    th,
    td {
      padding: 0.5em 1em 0.5em 0;
    }

    tr + tr {
      border-top: 1px solid currentColor;
    }
  }
}

@media (min-width: 800px) {
  #privacy,
  #tos {
    margin: 84px auto;
  }
}



/* DEFAULTS */

a {
  transition: all var(--transition) ease-out;
}

button,
input {
  appearance: none;
  margin: unset;
  padding: unset;
  border: unset;
  outline: unset;
  background-color: transparent;
}

button {
  cursor: pointer;
}

input {
  text-overflow: ellipsis;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: unset;
  font-size: unset;
  margin: unset;
}

.lf { /* legible forms for distinguishing \I and \l */
  font-feature-settings: "ss04";
}

.dsc-1 {
  display: inline;
}

.dsc-2 {
  display: none;
}

/* .entity {
  white-space: nowrap;
  hyphens: auto;
} */

.tabular {
  font-family: var(--Inter);
  font-variant-numeric: tabular-nums;
  letter-spacing: var(--tabular-numerals-tighter-spacing-3x);
}

/* .dates .date {
  font-family: var(--Inter);
  font-variant-numeric: tabular-nums;
} */




.module-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  gap: inherit;
}


.module .header .readout,
.chart .axis .value,
.kit .axis .value {
  font-family: var(--Inter);
  font-variant-numeric: tabular-nums;
  font-weight: var(--chart-axis-text-font-weight);
  font-size: var(--chart-axis-text-font-size);
  line-height: var(--chart-axis-text-line-height);
  color: var(--chart-axis-text);
}


.module {
  display: flex;
  flex-direction: column;
  gap: var(--module-gap);


  .header .readout {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    width: min-content;
    min-width: var(--module-header-readout-basis-width);
    height: 100%;
    gap: var(--module-header-readout-gap);

    .pointer {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: bottom;
      right: 0;
      bottom: 0;
      width: var(--module-gap);
      height: var(--module-gap);
      transform: translate(calc(50% - (var(--module-header-readout-basis-width) / 2)), 100%);
      color: var(--chart-stroke);

      .shape {
        position: absolute;
        bottom: 0;
        transform-origin: center bottom;
        font-size: calc(var(--unit));
        line-height: calc(var(--unit) * 0.5);
        transform: scale(0.25, 0.5);
      }
    }

    .mean {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: calc(var(--unit) / 8) 0;
      overflow: visible;

      span {
        white-space: nowrap;
      }

      .abbrev {
        margin-right: 0.1875rem;
        opacity: 0.5;
      }

    }
  }



  .chart {
    .display {
      height: var(--chart-height);
    }

    .graph {
      z-index: 1;
      width: var(--chart-graph-width);
      border-radius: var(--chart-inner-corner) 0 0 var(--chart-inner-corner);
    }

    .histogram {
      z-index: 0;
      height: var(--chart-histogram-height);
      border-radius: 0 var(--chart-inner-corner) var(--chart-inner-corner) 0;
      overflow: hidden;
    }
  }
}



.duo {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--duo-gap);
  width: 100%;

  .left {
    flex: unset;
    width: var(--duo-left-width);
  }
}


.chart {
  .display {
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}


// .guide {
//   position: absolute;
//   mix-blend-mode: multiply;
//   transition: all var(--transition) ease-out;

//   &.min, &.max {
//     left: 0;
//     width: 100%;
//     height: var(--guide-stroke-weight);
//     border-radius: var(--guide-stroke-weight);
//     background-color: var(--guide-stroke);
//     opacity: var(--guide-opacity);
//   }

//   &.max {
//     top: 0;
//     bottom: unset;
//   }

//   &.min {
//     top: unset;
//     bottom: 0;
//   }

//   &.date {
//     top: 0;
//     width: var(--guide-date-stroke-weight);
//     height: 100%;
//     border-radius: var(--guide-date-stroke-weight);
//     background-color: var(--guide-date-stroke);
//     opacity: var(--guide-date-opacity);
//     transform: translateX(-50%);
//     &.reference {
//       left: var(--start-pct);
//     }
//   }


// }
