@import "./common.less";

#map--node-layout {


  .map-toggles {
    display: flex;
    gap: 1rem;

  }

  button {
    padding: 4px 12px !important;

  }

  button:not(#region-list button),
  .map-legend label {
    border-radius: 3px;
    border: 1px solid #bbb !important;
  }

}