@button-curvature: 4px;


#runner .mcc-display-options {
  bottom: 100px;

  .mcc-options-panel {
      width: 90%;
    }
}

.mcc-display-options {
  display: flex;
  align-items: end;
  height: 150px;
  min-height: 150px;
  position: relative;
  pointer-events: none;
  width: 100%;
  margin-top: 10px;

  .panel-title{
    color: #777;
    font-size: 12px;
  }
  
  &.expanded .toggle{
    background-color: #999;
   
    svg path{
      stroke: #fcfcfc !important;
      fill: #fcfcfc !important;
    }
  }

  .toggle {
    pointer-events: all;
    border: 1px solid #e3e3e3;
    background-color: #fcfcfc;
    color: #777;
    left: 0;
    bottom: 0;
    font-size: 12px;
    line-height: calc(var(--unit) * 2);
    position: absolute;
    padding: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    align-content: center;
    // justify-content: space-between;
    // gap: var(--header-option-gap);
    white-space: nowrap;
    box-sizing: content-box;
    outline: none;
    cursor: pointer;
    transition: all var(--transition) ease-out;

    svg {
      width: 16px;
      height: 16px;
      position: relative;
      // top: -2px;
      margin-left: 0px;

      path {
        stroke-width: 0.5;
        stroke-linejoin: round;
        stroke-linecap: square;
        stroke: #888;
        fill: #888;
      }
    }

    &:hover svg path {
      stroke: #454545;
      fill: #454545;
    }
  }

  &.expanded .mcc-options-panel {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }
}

.mcc-options-panel {
  transform: translate(0, -2.5em);
  border: 1px solid #e3e3e3;
  background-color: #fcfcfc;
  width: 100%;
  transition: all 0.15s;
  position: relative;
  display: grid;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-template-rows: auto auto auto;
  gap: 5px calc(5px * 2);
  font-size: 12px;
  padding: 0.5em 10px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}


.constrain-selection {
  font-size: 12px;
  margin-bottom: 10px;
  color: #777;
  display: flex;
  gap: 7px;
  align-items: flex-start;
  line-height: 1.2;
  grid-column: span 2;
}

.mcc-opt-list {
  display: flex;
  flex-direction: column;

  p,
  label,
  output {
    margin: 0;
    color: #777;
  }

  &.topology, &.nodes {
    display: none;
  }

  &.confidence {
    // margin: 5px 0;
    // margin-top: 5px;
    grid-column: 1 / span 2;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.toggle-container {
  display: flex;

  input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }

  label {
    padding: 0 4px;
    background-color: #fcfcfc;
    border: solid 1px rgb(200,200,200);
    cursor: pointer;
    margin-right: -1px;

    &:first-of-type {
      border-radius: @button-curvature 0 0 @button-curvature;
    }

    &:last-of-type {
      border-radius: 0 @button-curvature @button-curvature 0;
    }

    &:hover {
      background-color: #f6f6f6;
    }
  }

  label:has(input:checked) {
    background-color: #efefef;
    color: #444;
    font-weight: 700;
  }
}

.mcc-opt--confidence-readout {
  // display: inline-block;
  // margin-left: 0.5em;
  font-weight: 700;
}

.mcc-opt--confidence-range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0;
  width: 100%;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /*
  can't comma-separate the following vendor-specific
  selectors -- browsers will drop the entire selector if it
  doesn't understand a part of it
  https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
  */

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #7E7E7E;
    cursor: pointer;
    margin-top: -3px;
  }

  &::-moz-range-thumb {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #7E7E7E;
    cursor: pointer;
  }

  &::-ms-thumb {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #7E7E7E;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #C8C8C8;
  }

  &::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: #C8C8C8;
  }
}