#poplar--layout-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
  gap: 20px;
}

#poplar--scrubber-container {

  height: 50px;

  svg {
    width: 100%;
    .tick {
      stroke-width: 0.5;
      stroke: #999;
      &.selected-tick {
        stroke: black;
      }
    }

    #poplar--scrubber-readout {
      font: MDSystem 500;
    }

  }
}

#poplar--ntych-container {
	display: flex;
	flex-direction: row;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  gap: inherit;
}

#poplar--basetree-container {
  height: 100%;
  flex: 1;
}

#poplar--container {
  height: 100%;
  // background-color: pink;
  flex: 1;
}

#poplar--container-inner {
  flex: 1;
  height: calc(100% - 50px);
}

:has(canvas.poplar--highlight) {
  position: relative;
}

canvas.poplar--highlight {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* let events pass through to the main canvas */
  pointer-events: none;
}