#poplar--layout-container {
	display: flex;
	flex-direction: column;
	background-color: pink;
	width: 100%;
	height: 100%;
  gap: 20px;
}

#poplar--scrubber-container {
	background-color: aquamarine;
  height: 50px;

  svg {
    width: 100%;
    .tick {
      stroke-width: 0.5;
      stroke: #999;
      &.selected-tick {
        stroke: black;
      }
    }

    #poplar--scrubber-readout {display: none;}

  }
}

#poplar--ntych-container {
	display: flex;
	flex-direction: row;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  gap: inherit;
}

#poplar--basetree-container {
  height: 100%;
  background-color: blanchedalmond;
  flex: 1;
}

#poplar--container {
  height: 100%;
  background-color: blanchedalmond;
  flex: 1;
}