@import "./common.less";

////////////////////////////////////////////
// uploader
////////////////////////////////////////////

.displaying-import-view  #uploader {
  display: block;
  background-color: var(--intro-view-fill);

}

#uploader {
  overflow: auto;
  height: 100%;
  width: 100%;
  color: var(--intro-nav-text);
}

#uploader--content-div {
  display: flex;
  flex-direction: row;
  max-width: var(--body-max-width);
  margin: -12px auto 0;

  min-height: 815px;
  padding: 0 48px;

  a, a:visited {
    // color: @toggle-text;
  }
  .symbol {
    .smoothly(color);
    font-size: 20px;
    margin-right: 0.6rem;
    // color: @highlight-hover;
  }

  &.disabled {
    #uploader--file-input--label, #uploader--demo-button {
      pointer-events: none;
      opacity: 0.4;
    }
    #uploader--status-init {
      opacity: 1;
    }
  }

  &.loading, &.parsing, &.error {
    #uploader--status {opacity: 1.0;}
  }


  &.loading #uploader--status-load,
  &.parsing #uploader--status-parse,
  &.error #uploader--status-error {
    opacity: 0.5;
  }

  &.dragging {
    #uploader--file-input--label {
      // background-color: fade(@del, 20%);
      // color: lighten(@del, 20%);
      border: 1px dashed lighten(@del, 10%);
    }
  }

  &.direct-loading {

    &.loading #uploader--status-load,
    &.parsing #uploader--status-parse {
      opacity: 1.0;
    }

    #uploader--demo-button,
    .uploader--or,
    #uploader--file-input--label {
      display: none;
    }

    #uploader--status {
      bottom: unset;
    }
  }

}



// ███████╗██████╗  ██████╗ ███╗   ██╗████████╗    ███╗   ███╗ █████╗ ████████╗████████╗███████╗██████╗ ███████╗
// ██╔════╝██╔══██╗██╔═══██╗████╗  ██║╚══██╔══╝    ████╗ ████║██╔══██╗╚══██╔══╝╚══██╔══╝██╔════╝██╔══██╗██╔════╝
// █████╗  ██████╔╝██║   ██║██╔██╗ ██║   ██║       ██╔████╔██║███████║   ██║      ██║   █████╗  ██████╔╝███████╗
// ██╔══╝  ██╔══██╗██║   ██║██║╚██╗██║   ██║       ██║╚██╔╝██║██╔══██║   ██║      ██║   ██╔══╝  ██╔══██╗╚════██║
// ██║     ██║  ██║╚██████╔╝██║ ╚████║   ██║       ██║ ╚═╝ ██║██║  ██║   ██║      ██║   ███████╗██║  ██║███████║
// ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝      ╚═╝   ╚══════╝╚═╝  ╚═╝╚══════╝


#uploader--front-matter {
  z-index: 1;
}

#uploader--title {
  .t40();
  margin-bottom: 40px;
}

#uploader--logo {
  font-weight: 500;
  font-size: calc(var(--unit) * 4);
  line-height: calc(var(--unit) * 5);
  margin: unset;

  transition: color var(--intro-transition) ease-out,
    font-size var(--intro-bumper-delay) ease-out;
  cursor: default;

}

.uploader--tagline {
  // text-align: center;
  .t40();
  font-weight: 500;
  // color: #fff;
  width: 300px;
  margin-top: 60px;
}




#uploader--privacy {
  // position: fixed;
  // bottom: 20px;
  // right: 20px;
  font-size: 15px;
  line-height: 18px;
  a, a:visited {
    // color: @toggle-text;
  }
}

#uploader--version-info {
  // color: @toggle-text;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  p {
    margin: 5px 0;
  }
}

.uploader--button-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}






//  ██████╗ ██████╗ ███████╗███╗   ██╗
// ██╔═══██╗██╔══██╗██╔════╝████╗  ██║
// ██║   ██║██████╔╝█████╗  ██╔██╗ ██║
// ██║   ██║██╔═══╝ ██╔══╝  ██║╚██╗██║
// ╚██████╔╝██║     ███████╗██║ ╚████║
//  ╚═════╝ ╚═╝     ╚══════╝╚═╝  ╚═══╝



.uploader--entry-points {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit)* 2);
  h2 {
    font-weight: 700;
    font-size: calc(var(--unit) * 1.5);
    margin: unset;
  }

}


.uploader--entry-point-header {
  position: relative;
  // display: flex;
  // flex-direction: column;
  gap: calc(var(--unit) / 2);
  justify-content: space-between;
  align-items: baseline;
  min-height: var(--view-header-height);
  max-height: var(--view-header-height);
  overflow: visible;

}

#uploader--file-url {
  display: flex;
  flex-direction: column;
  gap: var(--panel-gap);
}


#uploader--file-input {
  position: absolute;
  visibility: hidden;

  &:focus + label {
    outline: auto;
  }
}

#uploader--file-input--label,
#uploader--url-form input[type="text"],
#uploader--url-form-submit {
  padding: 0 var(--open-element-padding-x);
  font-weight: 500;
  font-family: var(--Inter-Tight);
  font-size: calc(var(--unit) * 1.125);
  line-height: calc(var(--unit) * 1.375);
  border-radius: var(--corner);
}

#uploader--file-input--label,
#uploader--url-form {
  min-width: var(--route-option-min-width);
  max-width: var(--route-option-max-width);
}



#uploader--file-input--label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--open-zone-text-static);
  background-color:var(--open-zone-fill-static);
  border: var(--stroke-weight) var(--open-zone-stroke-style-static) var(--open-zone-stroke-static);
  height: var(--open-zone-height);
  cursor: pointer;
  -webkit-transition: all var(--transition) ease-out;
  -moz-transition: all var(--transition) ease-out;
  -ms-transition: all var(--transition) ease-out;
  transition: all var(--transition) ease-out;


  &> * {
    pointer-events: none;
    color: var(--open-zone-text-static);
    -webkit-transition: color var(--transition) ease-out;
    -moz-transition: color var(--transition) ease-out;
    -ms-transition: color var(--transition) ease-out;
    transition: color var(--transition) ease-out;
  }

  &.receiving,
  &:hover,
  &:active,
  &:focus {
    background-color: var(--open-zone-fill-on);
    border-color: var(--open-zone-stroke-on);
  }

  &:hover,
  &:active,
  &:focus {
    border-style: var(--open-zone-stroke-style-on);
  }

  &.receiving:hover {
    border-style: var(--open-zone-stroke-style-receiving);
  }

  &.receiving > *,
  &:hover > *,
  &zone:active > *,
  &:focus > * {
    color: var(--open-zone-text-on);
  }



}


#uploader--url-form {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--unit) / 2);
  align-items: center;
  height: var(--open-link-height);

  position: relative;

  &.proxy-info {
    #uploader--proxy-info {display: block;}
    .uploader--proxy-info-activate--open {display: none;}
    .uploader--proxy-info-activate--close {display: unset;}
  }

}


#uploader--url-form input[type="text"],
#uploader--url-form-submit {
  padding: 0 var(--open-element-padding-x);
  font-weight: 500;
  font-family: var(--Inter-Tight);
  font-size: calc(var(--unit) * 1.125);
  line-height: calc(var(--unit) * 1.375);
  border-radius: var(--corner);
  display: inline-block;
  height: inherit;
  box-sizing: border-box;
  -webkit-transition: all var(--transition) ease-out;
  -moz-transition: all var(--transition) ease-out;
  -ms-transition: all var(--transition) ease-out;
  transition: all var(--transition) ease-out;
}

#uploader--url-form input[type="text"] {
  flex: 1;
  color: var(--open-link-input-text-placeholder-static);
  background-color: var(--open-link-input-fill-static);
  border: var(--stroke-weight) solid var(--open-link-input-stroke-static);

  &::placeholder {
    color: var(--open-link-input-text-static);
  }

  &::selection, &::-moz-selection {
    background-color: var(--open-link-input-highlight)
  }

  &:hover, &:active, &:focus, &.entering {
    color: var(--open-link-input-text-on);
    background-color: var(--open-link-input-fill-on);
    border-color: var(--open-link-input-stroke-on);
    &::placeholder {
      color: var(--open-link-input-text-placeholder-on);
    }
  }


}




#uploader--url-form-submit {
  display: flex;
  width: min-content;
  color: var(--open-link-button-text-static);
  background-color: var(--open-link-button-fill-static);
  border: var(--stroke-weight) solid var(--open-link-button-stroke-static);
  opacity: 1;
  cursor: pointer;

  padding: 0 var(--open-element-padding-x);
  font-weight: 500;
  font-family: var(--Inter-Tight);
  font-size: calc(var(--unit) * 1.125);
  line-height: calc(var(--unit) * 1.375);
  border-radius: var(--corner);
  align-items: center;

  &:has(:disabled) {
    opacity: 0.25;
    cursor: auto;
  }

  &:not(:has(:disabled)):hover,
  &:not(:has(:disabled)):active,
  &:not(:has(:disabled)):focus {
    color: var(--open-link-button-text-on);
    background-color: var(--open-link-button-fill-on);
    border-color: var(--open-link-button-stroke-on);
  }

  input {
    visibility: hidden;
    position: absolute;
  }

}



.opening {
  border-radius : 12px 12px 12px 12px !important;
}

.disabled {
  pointer-events: none;
  cursor: default;
}










.uploader--info-content, #uploader--proxy-info {
   display: flex;
   position: relative;
}
.uploader--info-content, #uploader--proxy-info, #uploader--proxy-popup {
  .t15();

  flex-direction: column;
  gap: 10px;
  padding: 50px;
  width: 400px;
  background-color: @uploader-info;
  border-radius: 4px;



  code {
    display: inline;
    font-family: 'MD IO', RobotoMono, monospace;
    padding: 0.1rem 0.3rem;
    background-color: @details-code;
    // color: @details-code-text;
    border-radius: 2px;
    white-space: nowrap;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    // color: @uploader-info-detail-header;
    margin: 0;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    .box {
      width: 40px;
      height: 40px;
    }

    .glyph {
      .masked(url("/assets/icons/exit-lg.svg"));
      background-color: rgb(210, 210, 210);

      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }
}


#uploader--proxy-popup {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  p {
    margin: 20px 0;
  }

  &.active {
    display: block;
  }

  label {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: @details-code;
    // color: @details-code-text;
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: 0.15s all;
    &:hover {
      background-color: lighten(@details-code, 10%);
      // color: white;
    }
  }
  button {
    visibility: hidden;
  }
}


.uploader--proxy-info-activate--close {display: none;}

#uploader--proxy-info {
  position: absolute;
  bottom: 0px;
  padding-bottom: 70px;
  z-index: 1;
  display: none;
}

#uploader--proxy-controls {
  display: none;
  position: relative;
  z-index: 2;
}

#uploader--proxy-info-activate {
  position: relative;
  display: inline-flex;
}

#uploader--proxy-info-activate-label {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: 0.15s opacity;
  // color: @uploader-info-detail-header;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

#uploader--proxy-info-activate:hover + #uploader--proxy-info-activate-label {
  opacity: 1;
  pointer-events: all;
}











#uploader--demo {
  height: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  gap: var(--panel-gap);
}

#uploader--demo-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 330px;
  height: calc(100% - 40px);
  border: var(--stroke-weight) solid var(--open-link-input-stroke-static);
  border-radius: 15px;
  background-color: var(--open-link-button-fill-static-25pct);

}

// ██████╗ ███████╗███╗   ███╗ ██████╗      ██████╗ ██████╗ ████████╗██╗ ██████╗ ███╗   ██╗███████╗
// ██╔══██╗██╔════╝████╗ ████║██╔═══██╗    ██╔═══██╗██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
// ██║  ██║█████╗  ██╔████╔██║██║   ██║    ██║   ██║██████╔╝   ██║   ██║██║   ██║██╔██╗ ██║███████╗
// ██║  ██║██╔══╝  ██║╚██╔╝██║██║   ██║    ██║   ██║██╔═══╝    ██║   ██║██║   ██║██║╚██╗██║╚════██║
// ██████╔╝███████╗██║ ╚═╝ ██║╚██████╔╝    ╚██████╔╝██║        ██║   ██║╚██████╔╝██║ ╚████║███████║
// ╚═════╝ ╚══════╝╚═╝     ╚═╝ ╚═════╝      ╚═════╝ ╚═╝        ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝


#uploader--demo-form {
  border-radius: 15px 0 0 15px;
  background-color: var(--intro-view-fill);
}

#uploader--demo-options {
  padding: 20px 25px 20px 0;
  display: block;
  width: 225px;
  height: 100%;
  overflow-y: scroll;
}

.uploader--demo-option
{

  margin: 0 20px;
  label {
    // color: @del;
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.15s;
    padding: 3px 15px;
    position: relative;
    transition: color 0.15s;

    svg {
      inset: 0;
      position: absolute;


      path {
        fill: fade(@del, 0%);
        transition: fill 0.15s;
      }
    }


    .author-info {
      display: block;
      font-size: 12px;
    }

    &:hover {
      border-color: @del;
    }

    input {
      visibility: hidden;
    }

    &:has(input:checked) {
      // background-color: fade(@del, 30%);
      // color: white;
      // border-color: @del;
      path {
        fill: var(--open-link-button-fill-static-25pct);
      }
    }

    &:has(input:focus-visible) {
      outline: auto;
    }
  }

  &:hover label {
    // color: white;
  }
}


// ██████╗ ███████╗███╗   ███╗ ██████╗     ███████╗███████╗██╗     ███████╗ ██████╗████████╗██╗ ██████╗ ███╗   ██╗
// ██╔══██╗██╔════╝████╗ ████║██╔═══██╗    ██╔════╝██╔════╝██║     ██╔════╝██╔════╝╚══██╔══╝██║██╔═══██╗████╗  ██║
// ██║  ██║█████╗  ██╔████╔██║██║   ██║    ███████╗█████╗  ██║     █████╗  ██║        ██║   ██║██║   ██║██╔██╗ ██║
// ██║  ██║██╔══╝  ██║╚██╔╝██║██║   ██║    ╚════██║██╔══╝  ██║     ██╔══╝  ██║        ██║   ██║██║   ██║██║╚██╗██║
// ██████╔╝███████╗██║ ╚═╝ ██║╚██████╔╝    ███████║███████╗███████╗███████╗╚██████╗   ██║   ██║╚██████╔╝██║ ╚████║
// ╚═════╝ ╚══════╝╚═╝     ╚═╝ ╚═════╝     ╚══════╝╚══════╝╚══════╝╚══════╝ ╚═════╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝




#uploader--demo-selection {
  width: calc(100% - 410px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em;
  font-size: 15px;
  line-height: 18px;
  // height: 100%;

  p {
    margin-top: 0;
  }

  a, a:visited {
    overflow-wrap: anywhere;
    // color: white;
  }

  .uploader--demo-detail-data {
    flex-grow: 1;
  }


  a.download {
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    border: solid @del 1px;
    border-radius: 4px;
    max-width: 180px;
    // color: @del;

    .box {
      display: inline-block;
      width: 2em;
      height: 2em;
      vertical-align: middle;
    }

    .glyph {
      .masked(url("/assets/icons/exporter.svg"));
      background-color: currentColor;
    }

    &:hover {
      // color: @del;
    }
  }


}



.uploader--demo-detail-label {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  // color: @del;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 0.5em;
}


// ██████╗ ███████╗███╗   ███╗ ██████╗     ██████╗ ██╗   ██╗███╗   ██╗
// ██╔══██╗██╔════╝████╗ ████║██╔═══██╗    ██╔══██╗██║   ██║████╗  ██║
// ██║  ██║█████╗  ██╔████╔██║██║   ██║    ██████╔╝██║   ██║██╔██╗ ██║
// ██║  ██║██╔══╝  ██║╚██╔╝██║██║   ██║    ██╔══██╗██║   ██║██║╚██╗██║
// ██████╔╝███████╗██║ ╚═╝ ██║╚██████╔╝    ██║  ██║╚██████╔╝██║ ╚████║
// ╚═════╝ ╚══════╝╚═╝     ╚═╝ ╚═════╝     ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝


#uploader--demo-run {
  border-radius: 0 15px 15px 0;
  width: 205px;
  padding: 30px 15px;
}

#uploader--demo-button {

  background-color: var(--demo-button-fill-static);
  color: white;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  text-align: center;

  border-radius: 4px;
  appearance: none;
  margin-bottom: 30px;
  font-weight: 500;
  cursor: pointer;
  max-width: 180px;
  .selection-paper {
    font-size: 15px;
  }
  &:hover {
    background-color: var(--demo-button-fill-on);
  }
}




.uploader--byline {
  display: block;
  padding: 5px 0 0;
  font-size: 15px;
  line-height: 18px;
  // color: @del;
  text-wrap: balance;
  margin: unset;
  padding: unset;
  white-space: nowrap;
}

.uploader--info {
  position: fixed;
  bottom: 72px;


  display: flex;
  flex-direction: column;
  gap: 10px;
}

.uploader--info-toggle, #uploader--proxy-info-activate {
  appearance: none;
  background: none;
  border: none;
  padding: 0;

  text-decoration: underline;
  // color: @toggle-text;
  border-radius: 4px;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  .smoothly(all);

  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    //color: @toggle-text-on;

    .box {
      background-color: @toggle-text-on;
    }

    .glyph {
      background-color: @toggle-on;
    }
  }

  .box {
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    background-color: @toggle-text;
    padding: 3px;

    .glyph {
      background-color: @toggle;
      .smoothly(background-color);
      width: 80%;
      height: 80%;
    }
  }
}

.uploader--info-toggle .box .glyph {
  .masked(url("/assets/icons/question.svg"));
}

#uploader--proxy-info-activate .uploader--proxy-info-activate--open .glyph {
  .masked(url("/assets/icons/question.svg"));
}

#uploader--proxy-info-activate .uploader--proxy-info-activate--close .glyph {
  .masked(url("/assets/icons/exit-lg.svg"));
}



.uploader--demo-option, #uploader--url-form-submit {
  label {
    &:has(:disabled) {
      pointer-events: none;
      opacity: 0.25;
    }
  }
}

// to control collapsing on the load screen
#uploader--demo,
#uploader--file-input--label,
#uploader--url-form,
.uploader--or {
  transition: all 0.15s;
  &.collapsing {
    overflow: hidden;
    padding: 0;
  }

}

#uploader--status {
  // position: absolute;
  // bottom: 50px;
  // left: 0;
  // right: 0;
  width: 20vw;
  margin: 15px auto 85px;
  background-color: fade(@toggle, 50%);
  border-radius: 4px;
  display: grid;
  opacity: 0;
  .smoothly(opacity);
  .t15();

  p {
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
    opacity: 0;
    text-align: center;
    .smoothly(opacity);
    padding: 0.5em 0;
    margin: 0;
  }

  &.progressing {
    margin-bottom: 15px;
    opacity: 1;
    #uploader--progress-container {display: block;}
    p {display: none;}
  }
}

.uploader--status-message {
  font-style: italic;
}


#uploader--progress-container {
  width: 100%;
  display: none;
  padding: 0 30px 30px;
}
#uploader--progress-frame {
  width: 100%;
  height: 25px;
  background-color: fade(@del, 20%);
  position: relative;
}
#uploader--progress {
  width: 50%;
  height: 100%;
  background-color: fade(@del, 60%);
}
#uploader--progress-label {
  padding: 5px 0px;
  text-align: right;
  width: 14em;
  margin: 10px auto;
  font-style: italic;
  // color: fade(white, 50%);

}


@media (max-width: 1000px) {

  .uploader--tagline {
    width: 290px;
    margin-right: 10px;
    text-wrap: balance;
  }


}




@media (min-width: 1000px) {

  #uploader--identity {
    width: 20vw;
    height: 6.4vw;
  }

  .uploader--tagline {
    width: 30vw;
    text-wrap: balance;
  }

  // .uploader--entry-points {
  //   width: 20vw;
  // }

}


@media (max-height: 1062px) {
  #uploader {
    overflow: auto;
  }
}