@import "./common.less";

////////////////////////////////////////////
// uploader
////////////////////////////////////////////

.displaying-import-view {
  background: linear-gradient(@uploader-a 0%, @uploader-b 40%, @uploader-b 60%, @uploader-a 100%);
}

#uploader {
  .t25();

  color: white;
  padding: 72px;
  
  a, a:visited {
    color: @toggle-text;
  }
  .symbol {
    .smoothly(color);
    font-size: 20px;
    margin-right: 0.6rem;
    color: @highlight-hover;
  }

  &.disabled {
    .uploader--message, #uploader--demo-button {
      pointer-events: none;
      opacity: 0.4;
    }
    #uploader--status-init {
      opacity: 1;
    }
  }

  &.loading, &.parsing, &.error {
    #uploader--status {opacity: 1.0;}
  }


  &.loading #uploader--status-load, 
  &.parsing #uploader--status-parse,
  &.error #uploader--status-error {
    opacity: 0.5;
  }

  &.dragging {
    .uploader--message {
      background-color: fade(@del, 20%);
      color: lighten(@del, 20%);
      border: 1px dashed lighten(@del, 10%);
    }
  }

  &.direct-loading {

    &.loading #uploader--status-load, 
    &.parsing #uploader--status-parse {
      opacity: 1.0;
    }
  
    #uploader--demo-button,
    .uploader--or,
    .uploader--message {
      display: none;
    }

    #uploader--status {
      bottom: unset;
    }
  }

}

#uploader--central-column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 50px;
  left: 50%;
  transform: translate(-50%, 0);



}

#uploader--title {
  .t40();
  margin-bottom: 40px;
}

#uploader--identity {
  width: 200px;
  height: 64px;
  text-align: center;
  .logotype-del {fill: @del}
  .logotype-phy {fill: @phy}
  .texture {fill: @texture}
}

.uploader--tagline {
  text-align: center;
  .t40();
  font-weight: 500;
  color: #fff;
  width: 300px;
}

.uploader--entry-points {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
}

#uploader--demo-button,
.uploader--message {
  width: 100%;
  .t25();
  .smoothly(all);
  // display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  // max-height: 6em;
}

#uploader--demo-button {
  appearance: none;
  background-color: @demo;
  color: @demo-text;
  border: 1px solid @demo;
  font-weight: 500;
  cursor: pointer;
  .symbol {
    color: @demo-symbol;
  }
  &:hover {
    background-color: @demo-on;
    border-color: @demo-on;
    color: @demo-text-on;
    .symbol {
      color: @demo-symbol-on;
    }
  }
}

#uploader--demo-form {
  .uploader--demo-option {
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
      font-size: 15px;
      line-height: 18px;
      text-decoration: none;

      .box {
        display: inline-block;
        width: 2em;
        height: 2em;
        vertical-align: middle;
      }

      .glyph {
        .masked(url("/assets/icons/exporter.svg"));
        background-color: currentColor;
      }

      &:hover {
        color: @del;
      }
    }

    label {
      background-color: fade(@del, 10%);
      color: lighten(@del, 10%);
      border: 1px solid fade(@del, 10%);
      padding: 3px 8px;
      display: inline-block;
      position: relative;
      cursor: pointer;
      border-radius: 5px;
      margin: 5px;
      font-size: 15px;
      transition: all 0.15s;
      

      &:hover {
        border-color: @del;
      }

      input {
        opacity: 0;
        width: 0;
        position: absolute;
      }
      
      &:has(input:checked) {
        background-color: fade(@del, 30%);
        color: white; 
        border-color: @del;
      }

      &:has(input:focus-visible) {
        outline: auto;
      }
    }  
  }
}

#uploader--src-download {
  color: @del;
  margin: -8px 0 0;
}

.uploader--or {
  font-variant: small-caps;
  text-align: center;
  color: @del;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: @del;
    opacity: 0.5;
  }

  &::before {
    left: 20px;
    right: calc(55% + 20px);
  }

  &::after {
    right: 20px;
    left: calc(55% + 20px);
  }
}

#uploader--file-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  clip: rect(0, 0, 0, 0);
  
  &:focus + label {
    outline: auto;
  }
}

.uploader--message {
  background-color: fade(@del, 10%);
  color: lighten(@del, 10%);
  border: 1px dashed @del;
  font-weight: 400;
  cursor: pointer;
  padding: 25px 20px;
  line-height: 30px;

  &:hover {
    background-color: fade(@del, 15%);
    color: lighten(@del, 10%);
    border: 1px dashed lighten(@del, 10%);
  }

  .file-types {
    color: @del;
  }
}

.uploader--byline {
  display: block;
  padding: 5px 0 0;
  font-size: 15px;
  line-height: 18px;
  color: @del;
  text-wrap: balance;
}

.uploader--info {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;

  
}

.uploader--info-toggle {
  appearance: none;
  background: none;
  border: none;
  padding: 0;

  text-decoration: underline;
  color: @toggle-text;
  border-radius: 4px;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
  .smoothly(all);

  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    color: @toggle-text-on;

    .box {
      background-color: @toggle-text-on;
    }

    .glyph {
      background-color: @toggle-on;
    }
  }

  .box {
    width: 1.1em;
    height: 1.1em;
    border-radius: 50%;
    background-color: @toggle-text;
    padding: 3px;

    .glyph {
      .masked(url("/assets/icons/question.svg"));
      background-color: @toggle;
      .smoothly(background-color);
      width: 80%;
      height: 80%;
    }
  }
}

.uploader--info-content {
  .t15();
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  width: 400px;
  background-color: @uploader-info;
  border-radius: 4px;

  position: relative;

  code {
    display: inline;
    font-family: 'MD IO', RobotoMono, monospace;
    padding: 0.1rem 0.3rem;
    background-color: @details-code;
    color: @details-code-text;
    border-radius: 2px;
    white-space: nowrap;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: @uploader-info-detail-header;
    margin: 0;
  }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    .box {
      width: 40px;
      height: 40px;
    }

    .glyph {
      .masked(url("/assets/icons/exit-lg.svg"));
      background-color: rgb(210, 210, 210);

      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }
}

#uploader--status {
  // position: absolute;
  // bottom: 50px;
  // left: 0;
  // right: 0;
  width: 20vw;
  margin: 15px auto 85px;
  background-color: fade(@toggle, 50%);
  border-radius: 4px;
  display: grid;
  opacity: 0;
  .smoothly(opacity);
  .t15();

  p {
    grid-column: 1;
    grid-row: 1;
    pointer-events: none;
    opacity: 0;
    text-align: center;
    .smoothly(opacity);
    padding: 0.5em 0;
    margin: 0;
  }

  &.progressing {
    margin-bottom: 15px;
    opacity: 1;
    #uploader--progress-container {display: block;}
    p {display: none;}
  }
}

.uploader--status-message {
  font-style: italic;  
}


#uploader--progress-container {
  width: 100%;
  display: none;
  padding: 0 30px 30px;
}
#uploader--progress-frame {
  width: 100%;
  height: 25px;
  background-color: fade(@del, 20%);
  position: relative;
}
#uploader--progress {
  width: 50%;
  height: 100%;
  background-color: fade(@del, 60%);
}
#uploader--progress-label {
  padding: 5px 0px;
  text-align: right;
  width: 14em;
  margin: 10px auto;
  font-style: italic;
  color: fade(white, 50%);

}


#uploader--privacy {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 15px;
  line-height: 18px;
  a, a:visited {
    color: @toggle-text;
  }
}

#uploader--version-info {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: @toggle-text;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  p { 
    margin: 5px;
  }
}




@media (min-width: 1000px) {

  #uploader--identity {
    width: 20vw;
    height: 6.4vw;
  }

  .uploader--tagline {
    width: 30vw;
    text-wrap: balance;
  }

  .uploader--entry-points {
    width: 20vw;
  }

}

@media (max-height: 1062px) {
  #uploader {
    overflow: auto;
  }
}